// FOOTER::START
footer.footer
  .footer__wrapper
    .footer__links-wrapper
      .footer__links
        .footer__heading Категории товаров
        .footer__links-list
          a(href='#') Очищение и тонизирование
          a(href='#') Увлажнение и баланс
          a(href='#') Клеточное восстановление  и защита
          a(href='#') Защита вокруг глаз
          a(href='#') Уход для тела

      .footer__links
        .footer__heading Категории товаров
        .footer__links-list
          a(href='#') Доставка и оплата
          a(href='#') Правила возврата товара
          a(href='#') Новости
          a(href='#') Адреса магазинов
          a(href='#') Адреса салонов
      
    // content col
    .footer__content
      .footer__subscribe
        .footer__heading Подписаться на рассылку
        .footer__subscribe__note Подпишитесь на новостную рассылку и получайте бонусы и эксклюзивные предложения от Excellance Moscow!
        form(action='#').footer__subscribe__form
          label Ваш e-mail:
          .footer__subscribe__form-container
            input(type='email').ui-input
            button(type='submit').btn.btn--primary 
              span Подписаться
      
      // socials
      .footer__socials
        .footer__heading Присоединяйтесь!
        a(href='#')
          i.icon.icon-facebook
        a(href='#')
          i.icon.icon-instagram
      
      // contacts
      .footer__contacts
        .footer__heading Служба поддержки клиентов
        a(href='tel:84953800353').footer__phone +7 495 380 03 53
        a(href='mailto:EMAIL@EXCELLANCE.RU').footer__email EMAIL@EXCELLANCE.RU
        p Служба поддержки работает с пн по пт с 10 до 18

        p ООО «Мирани», 121357, Москва, ул. Верейская, д.29, <br> стр. 134, БЦ «Верейская плаза III» 
            
          
          
          
      
      
// SECONDARY STYLES

//build:css css/secondary.css
link(rel="stylesheet" href="css/secondary.css" type="text/css")
//endbuild
        
// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/slick-carousel/slick/slick.min.js")
script(src="components/magnific-popup/dist/jquery.magnific-popup.min.js")
script(src="components/air-datepicker/dist/js/datepicker.min.js")
script(src="components/air-datepicker/dist/js/i18n/datepicker.en.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="js/libs/jquery.scrollbar.min.js")
script(src="js/utilities.js")
script(src="js/main.js")
//endbuild
