// HEADER::START
.header
  .container.container--fluid
    .header__top
      .header__hamburger
        .hamburger.hamburger--collapse
          .hamburger-box
            .hamburger-inner
              
      .header__lang
        a(href='#').active Ru
        a(href='#') En
        a(href='#') Ch
      a.header__logo(href='homepage.html')
        i.icon.icon-logo
      .header__cta
        a(href='#').header__account
          i.icon.icon-account
          span мой аккаунт
        a(href='#').header__cart
          i.icon.icon-cart
          span Корзина
          .header__cart__counter (0)
        form(action='#').header__search
          input(type='text' autofill='0' placeholder='поиск...')
          i.icon.icon-search
          i.icon.icon-close
            
  .container
    ul.header__navi
      li
        a(href='catalog.html') Каталог
      li
        a(href='#') Профессиональный уход 
      li
        a(href='inovation.html') инновация Cellexon 
      li
        a(href='about.html') О компании
      li
        a(href='smi.html') СМИ о нас
      li
        a(href='contacts.html') Адреса
        
// Sticky Header
header.header.header--sticky
  .container.container--fluid
    .header__line
      .header__hamburger
        .hamburger.hamburger--collapse
          .hamburger-box
            .hamburger-inner
      a.header__logo.header__logo--small(href='homepage.html')
        i.icon.icon-logo
    
      ul.header__navi.header__navi--sticky
        li
          a(href='catalog.html') Каталог
        li
          a(href='#') Профессиональный уход 
        li
          a(href='inovation.html') инновация Cellexon 
        li
          a(href='about.html') О компании
        li
          a(href='smi.html') СМИ о нас
        li
          a(href='contacts.html') Адреса
      
      .header__cta.header__cta--sticky
        a(href='#').header__account
          i.icon.icon-account
        a(href='#').header__cart
          i.icon.icon-cart
          .header__cart__counter (0)
        form(action='#').header__search
          input(type='text' autofill='0' placeholder='поиск...')
          i.icon.icon-search
          i.icon.icon-close

// Mobile navi
.mobile-navi
  ul.mobile-navi__list
    li
      a(href='catalog.html') Каталог
    li
      a(href='#') Профессиональный уход 
    li
      a(href='inovation.html') инновация Cellexon 
    li
      a(href='about.html') О компании
    li
      a(href='smi.html') СМИ о нас
    li
      a(href='contacts.html') Адреса
  .header__lang
    a(href='#').active Ru
    a(href='#') En
    a(href='#') Ch
