// MODALS
.modal-dialog.mfp-hide#modalTestimonialLogin
  .modal__content
    .modal__icon
      i.icon.icon-email
    .modal__close
      i.icon.icon-close
    .modal__head ДЛЯ ДОБАВЛЕНИЯ ОТЗЫВА <br> НЕОБХОДИМО АВТОРИЗОВАТЬСЯ
    .modal__desc Войдите на сайт если у вас есть учетная запись или зарегистрируйтесь
    .modal__actions
      a(href='login.html').btn.btn--primary Вход
      a(href='login.html').modal__sublink 
        span Регситрация

// MODAL TESTIMONIALS WRITE
.modal-dialog.mfp-hide#modalTestimonial
  .modal__content
    .modal__icon
      i.icon.icon-email
    .modal__close
      i.icon.icon-close
    form(action='#').modal__form
      .ui-group
        label Напишите ваш отзыв о продукте
        textarea(rows='5' placeholder='Ваш отзыв...').ui-input
        
    .modal__actions
      a(href='login.html').btn.btn--primary ОПУБЛИКОВАТЬ ОТЗЫВ
      a(href='#').modal__sublink.js-close-modal
        span Отмена

// MODAL THANKS
.modal-dialog.mfp-hide#modalThanks
  .modal__content
    .modal__icon
      i.icon.icon-email
    .modal__close
      i.icon.icon-close
    .modal__head Спасибо за заказ!
    .modal__desc Заказ № 34678
    .modal__help-text Иформация о заказе отправлена на вашу почту email@email.com
    .modal__actions
      a(href='#').btn.btn--primary.btn--190.js-close-modal OK


// MODAL GUIDE
.modal-dialog.mfp-hide#modalGuide
  .modal__section
    .modal__close
      i.icon.icon-close
    .modal__text ПОДБОР СРЕДСТВА  ДЛЯ ДОМАШНЕГО УХОДА ЗА КОЖЕЙ
  
  .modal__guide
    .modal__guide__card.modal__guide__card--visible(data-question='1')
      .modal__text Выберите утверждение, которое характеризует Вашу кожу лучше всего:
      .modal__guide__progress Вопрос 1 из 6
      .modal__guide__form
        form(action='#')
          .modal__guide__form__validation Выберите ответ для продолжения
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_1')
            label(for='question_1_1') нормальная (кожа упругая, чистая, без участков шелушения, имеет здоровый лоск. После очищения всегда комфортные ощущения) 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_2')
            label(for='question_1_2') - сухая (кожа тонкая, имеются участки шелушения, покраснения. После умывания отмечается чувство стянутости) 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_3')
            label(for='question_1_3') жирная (кожа плотная, пористая, тусклая, имеется жирный блеск и воспалительные элементы. После очищения нет ощущения полной чистоты) 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_4')
            label(for='question_1_4') комбинированная (жирный блеск в Т-зоне (лоб, нос, подбородок), в области щек кожа нормальная или склонная к сухости. После очищения комфортные ощущения)
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-close-modal Вернуться в каталог
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
    // next card    
    .modal__guide__card.modal__guide__card--right(data-question='2')
      .modal__text Какое очищение кожи лица Вы предпочитаете:
      .modal__guide__progress Вопрос 2 из 6
      .modal__guide__form
        form(action='#')
          .modal__guide__form__validation Выберите ответ для продолжения
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_1')
            label(for='question_2_1') предпочитаю  умываться водой, после очищения всегда комфортные ощущения 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_2')
            label(for='question_2_2') предпочитаю очищение кожи водой, но после умывания есть ощущение стянутости, сухости
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_3')
            label(for='question_2_3') предпочитаю очищение водой, но после очищения нет ощущения полной чистоты 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_4')
            label(for='question_2_4') предпочитаю минимизировать контакт кожи с водой/ или предпочитаю очищение без воды 
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    // next card    
    .modal__guide__card.modal__guide__card--right.modal__guide__card--invis(data-question='3')
      .modal__text Имеются ли у Вас воспалительные элементы на лице
      .modal__guide__progress Вопрос 3 из 6
      .modal__guide__form
        form(action='#')
          .modal__guide__form__validation Выберите ответ для продолжения
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_3' id='question_3_1')
            label(for='question_3_1') нет, не бывает никогда 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_3' id='question_3_2')
            label(for='question_3_2') периодически появляются единичные высыпания 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_3' id='question_3_3')
            label(for='question_3_3') постоянно имеются воспалительные элементы

          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    // next card    
    .modal__guide__card.modal__guide__card--right.modal__guide__card--invis(data-question='4')
      .modal__text Оцените тонус и тургор Вашей кожи
      .modal__guide__progress Вопрос 4 из 6
      .modal__guide__form
        form(action='#')
          .modal__guide__form__validation Выберите ответ для продолжения
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_4' id='question_4_1')
            label(for='question_4_1') тонус кожи хороший , морщин нет
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_4' id='question_4_2')
            label(for='question_4_2') тонус кожи хороший, имеется незначительное количество мимических морщин, в основном в области глаз, лба 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_4' id='question_4_3')
            label(for='question_4_3') кожа дряблая, атоничная, имеются глубокие мимические морщины (заломы)

          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    // next card    
    .modal__guide__card.modal__guide__card--right.modal__guide__card--invis(data-question='5')
      .modal__text Имеется ли у Вас на коже лица пигментные пятна
      .modal__guide__progress Вопрос 5 из 6
      .modal__guide__form
        form(action='#')
          .modal__guide__form__validation Выберите ответ для продолжения
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_5' id='question_5_1')
            label(for='question_5_1') пигментных пятен, веснушек нет
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_5' id='question_5_2')
            label(for='question_5_2') да, имеются участки пигментации (пигментные пятна, веснушки)
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    // next card    
    .modal__guide__card.modal__guide__card--right.modal__guide__card--invis(data-question='6')
      .modal__text Ваша кожа вокруг глаз
      .modal__guide__progress Вопрос 6 из 6
      .modal__guide__form
        form(action='#')
          .modal__guide__form__validation Выберите ответ для продолжения
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_1')
            label(for='question_6_1') плотная.  Морщины, темные круги, отечность отсутствуют экспресс-корректор для зоны вокруг глаз
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_2')
            label(for='question_6_2') тонкая, сухая. Имеются мимические морщины
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_3')
            label(for='question_6_3') склонна к отечности и появлению темных кругов 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_4')
            label(for='question_6_4') тонкая.  Имеются мимические морщины, темные круги, есть  склонность к отечности. 
                  
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#modalGuideResults').btn.btn--primary.js-blur Показать результат
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново


// MODAL GUIDE RESULTS
.modal-dialog.mfp-hide#modalGuideResults
  .modal__guide__results-head
    .modal__close
      i.icon.icon-close
    .modal__heading ПОДБОР СРЕДСТВА  ДЛЯ ДОМАШНЕГО УХОДА ЗА КОЖЕЙ
  .modal__guide__results
    .modal__guide__results-sidebar
      .modal__guide__results-sidebar__title РЕЗУЛЬТАТ ТЕСТА
      .modal__guide__results-sidebar__text Мы подобрали для вас рекомендации для ежедневного ухода за кожей. Рекомендации состоят из 7 шагов ежедневного ухода.
      .modal__guide__results-sidebar__tabs
        .modal__guide__results-sidebar__tab(data-tab='1').active 
          span 1.
          span Очищение и тонизирование
        .modal__guide__results-sidebar__tab(data-tab='2') 
          span 2.
          span Увлажнение и баланс
        .modal__guide__results-sidebar__tab(data-tab='3') 
          span 3.
          span Клеточное восстановление и защита
        .modal__guide__results-sidebar__tab(data-tab='4') 
          span 4.
          span Уход вокруг глаз
        .modal__guide__results-sidebar__tab(data-tab='5')
          span 5.
          span Уход для тела
        
    .modal__guide__results-content.active(data-tab='1')
      .modal__heading Очищение и тонизирование
      .modal__guide__results-content__text Для вашего типа кожи подойдут гелевые препараты, которые мягко удалят загрязнения и излишки кожного сала. Для регулярного умывания используйте Медовое мыло для жирной кожи Fresh Honey Cleansing Gel, Ароматерапевтическое очищающее молочко для жирной кожи Fresh Aroma Therapeutic Cleansing Milk for oily skin или Натуральный очищающий гель для всех типов кожи Fresh Pure & Natural Cleanser. Чтобы восстановить на коже кислотно-щелочной баланс и убрать последствия воздействия жесткой водопроводной воды, рекомендуем тонизировать кожу Очищающий тоник с лемонграссом для жирной кожи Purifying Toner for oily skin with Lemongrass.
    .modal__guide__results-content(data-tab='2')
      .modal__heading Увлажнение и баланс
      .modal__guide__results-content__text Для вашего типа кожи подойдут гелевые препараты, которые мягко удлярного умывания используйте Медовое мыло для жирной кожи Fresh Honey Cleansing Gel, Ароматерапевтическое очищающее молочко для жирной кожи Fresh Aroma Therapeutic Cleansing Milk for oily skin или Натуральный очищающий гель для всех типов кожи Fresh Pure & Natural Cleanser. Чтобы восстановить на коже кислотно-щелочной баланс и убрать последствия воздействия жесткой водопроводной воды, рекомендуем тонизировать кожу Очищающий тоник с лемонграссом для жирной кожи Purifying Toner for oily skin with Lemongrass.
    .modal__guide__results-content(data-tab='3')
      .modal__heading Клеточное восстановление и защита
      .modal__guide__results-content__text Для вашего типа кожи подойдут гелевые препараты, которые мягко удалят загрязнения и излишки кожного сала. Для регулярног последствия воздействия жесткой водопроводной воды, рекомендуем тонизировать кожу Очищающий тоник с лемонграссом для жирной кожи Purifying Toner for oily skin with Lemongrass.
    .modal__guide__results-content(data-tab='4')
      .modal__heading Уход вокруг глаз
      .modal__guide__results-content__text Для вашего типа кожи подойдут гелевые препараты, которые мягко удалят загрязнения и излишки кожного сала. Для регулярного умывания используйте Медовое мыло для жирной кожи Fresh Honey Cleansing Gel, Ароматерапевтическое очищающее молочко для жирной кожи Fresh Aroma Therapeutic Cleansing Milk for oily skin или Натуральный очищающий гель для всех типов кожи Fresh Pure & Natural Cleanser. Чтобы восстановить на коже кислотно-щелочной баланс и убрать последствия воздействия жесткой водопроводной воды, рекомендуем тонизировать кожу Очищающий тоник с лемонграссом in with Lemongrass.
    .modal__guide__results-content(data-tab='5')
      .modal__heading Уход для тела
      .modal__guide__results-content__text Для регулярного умывания используйте Медовое мыло для жирной кожи Fresh Honey Cleansing Gel, Ароматерапевтическое очищающее молочко для жирной кожи Fresh Aroma Therapeutic Cleansing Milk for oily skin или Натуральный очищающий гель для всех типов кожи Fresh Pure & Natural Cleanser. Чтобы восстановить на коже кислотно-щелочной баланс и убрать последствия воздействия жесткой водопроводной воды, рекомендуем тонизировать кожу Очищающий тоник с лемонграссом для жирной кожи Purifying Toner for oily skin with Lemongrass.


  .modal__guide__results-catalog.active(data-tab='1')
    .modal__guide__results-catalog__placeholder
    .modal__guide__catalog
      // card
      .catalog__card
        .catalog__card__info
          a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
          .catalog__card__short Поддержание комфортного  уровня увлажненности кожи
          .catalog__card__short 50 ml
          .catalog__card__cta
            .catalog__card__price 4 050 ₽
            a(href='#')
              i.icon.icon-cart
              
        a(href='#').catalog__card__image
          img(src='images/goods/productImg_1.png' srcset='images/goods/productImg_1@2x.png 2x')
        
      // card
      .catalog__card
        .catalog__card__info
          a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ «КЛЕТОЧНОЕ ВОССТАНОВЛЕНИЕ
          .catalog__card__short Поддержание комфортного  уровня увлажненности кожи
          .catalog__card__short 50 ml
          .catalog__card__cta
            .catalog__card__price 4 050 ₽
            a(href='#')
              i.icon.icon-cart
              
        a(href='#').catalog__card__image.catalog__card__image--vertical
          img(src='images/goods/productImg_2.png' srcset='images/goods/productImg_2@2x.png 2x')
    
      // card
      .catalog__card
        .catalog__card__info
          a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
          .catalog__card__short Поддержание комфортного  уровня увлажненности кожи
          .catalog__card__short 50 ml
          .catalog__card__cta
            .catalog__card__price 4 050 ₽
            a(href='#')
              i.icon.icon-cart
              
        a(href='#').catalog__card__image.catalog__card__image--vertical
          img(src='images/goods/productImg_3.png' srcset='images/goods/productImg_3@2x.png 2x')
                            
      // card
      .catalog__card
        .catalog__card__info
          a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
          .catalog__card__short Поддержание комфортного  уровня увлажненности кожи
          .catalog__card__short 50 ml
          .catalog__card__cta
            .catalog__card__price 4 050 ₽
            a(href='#')
              i.icon.icon-cart
              
        a(href='#').catalog__card__image.catalog__card__image--vertical
          img(src='images/goods/productImg_4.png' srcset='images/goods/productImg_4@2x.png 2x')
                  
      

// MODAL PDF
.modal-dialog.mfp-hide#modalPdf
  .modal__content.modal__content--pdf
    .modal__close
      i.icon.icon-close
    .modal__pdf
      object(data='pdf/test.pdf', type='application/pdf', width='100%', height='100%')
        p
          | Если вы не можете просмотреть файл - 
          a(href='pdf/test.pdf' target='_blank') ссылка на скачиваение
    .modal__actions
      a(href='#').btn.btn--primary.btn--190.js-close-modal Закрыть
      


// ORDER SERVICE
.modal-dialog.mfp-hide#modalServiceOrder
  .modal__content
    .modal__icon
      i.icon.icon-email
    .modal__close
      i.icon.icon-close
    .modal__head Записаться на процедуру
    .profile__box.modal__form-contact
      form(action='#').js-serviceOrder-form
        .ui-group.ui-group--labeled
          label Фамилия
            span *
          input(type='text' name='last_name' placeholder='').ui-input
        .ui-group.ui-group--labeled
          label Имя
            span *
          input(type='text' name='first_name' placeholder='').ui-input
        .ui-group.ui-group--labeled
          label Отчество
          input(type='text' name='patronimyc' placeholder='').ui-input
        .ui-group.ui-group--labeled
          label E-mail
            span *
          input(type='email' name='email' placeholder='').ui-input
        .ui-group.ui-group--labeled
          label Телефон
            span *
          input(type='tel' name='phone' placeholder='').ui-input
        a(href='contacts.html' target='_blank').cart-login__pickup
          i.icon.icon-placeholder
          span Москва, ул. Верейская, д. 29 строение 33
          
        .ui-group.ui-group--labeled.ui-group--short
          label Введите дату
          input(type='text' name='pickup_date' placeholder='__ __ ____').ui-input.js-dateMask2
          
              
        .profile__box__cta
          button(type='submit').btn.btn--primary.btn--190 Записаться


// MODAL THANKS
.modal-dialog.mfp-hide#modalServiceOrderThanks
  .modal__content
    .modal__icon
      i.icon.icon-email
    .modal__close
      i.icon.icon-close
    .modal__head Спасибо за заказ!
    .modal__help-text 
      p Вам на почту отправлено письмо с подтверждением записи.

      p В ближайшее время наш менеджер свяжется с вами и уточнит детали и время!
    .modal__actions
      a(href='#').btn.btn--primary.btn--190.js-close-modal OK
