// MODALS
.modal-dialog.mfp-hide#modalTestimonialLogin
  .modal__content
    .modal__icon
      i.icon.icon-email
    .modal__close
      i.icon.icon-close
    .modal__head ДЛЯ ДОБАВЛЕНИЯ ОТЗЫВА <br> НЕОБХОДИМО АВТОРИЗОВАТЬСЯ
    .modal__desc Войдите на сайт если у вас есть учетная запись или зарегистрируйтесь
    .modal__actions
      a(href='login.html').btn.btn--primary Вход
      a(href='login.html').modal__sublink 
        span Регситрация


.modal-dialog.mfp-hide#modalTestimonial
  .modal__content
    .modal__icon
      i.icon.icon-email
    .modal__close
      i.icon.icon-close
    form(action='#').modal__form
      .ui-group
        label Напишите ваш отзыв о продукте
        textarea(rows='5' placeholder='Ваш отзыв...').ui-input
        
    .modal__actions
      a(href='login.html').btn.btn--primary ОПУБЛИКОВАТЬ ОТЗЫВ
      a(href='#').modal__sublink.js-close-modal
        span Отмена

// MODAL 
.modal-dialog.mfp-hide#modalGuide
  .modal__section
    .modal__close
      i.icon.icon-close
    .modal__text ПОДБОР СРЕДСТВА  ДЛЯ ДОМАШНЕГО УХОДА ЗА КОЖЕЙ
  
  .modal__guide
    .modal__guide__card.modal__guide__card--visible(data-question='1')
      .modal__text Выберите утверждение, которое характеризует Вашу кожу лучше всего:
      .modal__guide__progress Вопрос 1 из 6
      .modal__guide__form
        form(action='#')
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_1')
            label(for='question_1_1') нормальная (кожа упругая, чистая, без участков шелушения, имеет здоровый лоск. После очищения всегда комфортные ощущения) 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_2')
            label(for='question_1_2') - сухая (кожа тонкая, имеются участки шелушения, покраснения. После умывания отмечается чувство стянутости) 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_3')
            label(for='question_1_3') жирная (кожа плотная, пористая, тусклая, имеется жирный блеск и воспалительные элементы. После очищения нет ощущения полной чистоты) 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_1' id='question_1_4')
            label(for='question_1_4') комбинированная (жирный блеск в Т-зоне (лоб, нос, подбородок), в области щек кожа нормальная или склонная к сухости. После очищения комфортные ощущения)
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-close-modal Вернуться в каталог
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
    
    // next card    
    .modal__guide__card.modal__guide__card--right(data-question='2')
      .modal__text Какое очищение кожи лица Вы предпочитаете:
      .modal__guide__progress Вопрос 2 из 6
      .modal__guide__form
        form(action='#')
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_1')
            label(for='question_2_1') предпочитаю  умываться водой, после очищения всегда комфортные ощущения 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_2')
            label(for='question_2_2') предпочитаю очищение кожи водой, но после умывания есть ощущение стянутости, сухости
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_3')
            label(for='question_2_3') предпочитаю очищение водой, но после очищения нет ощущения полной чистоты 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_2' id='question_2_4')
            label(for='question_2_4') предпочитаю минимизировать контакт кожи с водой/ или предпочитаю очищение без воды 
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    
    // next card    
    .modal__guide__card.modal__guide__card--right(data-question='3')
      .modal__text Имеются ли у Вас воспалительные элементы на лице
      .modal__guide__progress Вопрос 3 из 6
      .modal__guide__form
        form(action='#')
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_3' id='question_3_1')
            label(for='question_3_1') нет, не бывает никогда 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_3' id='question_3_2')
            label(for='question_3_2') периодически появляются единичные высыпания 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_3' id='question_3_3')
            label(for='question_3_3') постоянно имеются воспалительные элементы

          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    // next card    
    .modal__guide__card.modal__guide__card--right(data-question='4')
      .modal__text Оцените тонус и тургор Вашей кожи
      .modal__guide__progress Вопрос 4 из 6
      .modal__guide__form
        form(action='#')
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_4' id='question_4_1')
            label(for='question_4_1') тонус кожи хороший , морщин нет
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_4' id='question_4_2')
            label(for='question_4_2') тонус кожи хороший, имеется незначительное количество мимических морщин, в основном в области глаз, лба 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_4' id='question_4_3')
            label(for='question_4_3') кожа дряблая, атоничная, имеются глубокие мимические морщины (заломы)

          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    // next card    
    .modal__guide__card.modal__guide__card--right(data-question='5')
      .modal__text Имеется ли у Вас на коже лица пигментные пятна
      .modal__guide__progress Вопрос 5 из 6
      .modal__guide__form
        form(action='#')
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_5' id='question_5_1')
            label(for='question_5_1') пигментных пятен, веснушек нет
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_5' id='question_5_2')
            label(for='question_5_2') да, имеются участки пигментации (пигментные пятна, веснушки)
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-next-guide Следующий вопрос
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
    // next card    
    .modal__guide__card.modal__guide__card--right(data-question='6')
      .modal__text Ваша кожа вокруг глаз
      .modal__guide__progress Вопрос 6 из 6
      .modal__guide__form
        form(action='#')
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_1')
            label(for='question_6_1') плотная.  Морщины, темные круги, отечность отсутствуют экспресс-корректор для зоны вокруг глаз
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_2')
            label(for='question_6_2') тонкая, сухая. Имеются мимические морщины
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_3')
            label(for='question_6_3') склонна к отечности и появлению темных кругов 
          .ui-radio.ui-radio--modal
            input(type='radio' name='question_6' id='question_6_4')
            label(for='question_6_4') тонкая.  Имеются мимические морщины, темные круги, есть  склонность к отечности. 
                  
          .modal__guide__form__cta
            a(href='#').btn.btn--white.js-prev-guide Предыдущий вопрос
            a(href='#').btn.btn--primary.js-results-guide Показать результат
            a(href='#').btn.btn--white.js-reset-guide Начать тест заново
