doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page.page--light-bg.header-static
      
      // LOGIN PAGE
      .profile
        .container
          .heading.heading--mute Оформление заказа
          .cart-scope
            .cart-scope__left
              span Товары:
              span Сумма заказа:
            .cart-scope__right
              span 6
              span 25 458 ₽
        
        .cart-login.cart-login--authorized
          .cart-login__white-bg
            .container
              // signup
              .profile__signup
                // section
                .cart-login__section
                  .profile__box
                    .cart-login__section__title Доставка
                    .cart-login__section__cta
                      a(href='cart-authorized-select.html').btn.btn--white Выбрать адрес
                  
                // section
                .cart-login__section
                  .profile__box
                    .cart-login__section__title Самовывоз
                    .cart-login__section__tip Забрать из пункта самовывоза
                    .cart-login__section__cta
                      a(href='#').btn.btn--white.js-toggleCartSignupSection Оформить
                  .cart-login__section__dropdown
                    .profile__box
                      form(action='#').js-orderPickup-form
                        .cart-login__pickup
                          i.icon.icon-placeholder
                          span Москва, ул. Верейская, д. 29 строение 33
                          
                        .ui-group.ui-group--labeled.ui-group--short
                          label Введите дату
                          input(type='text' name='pickup_date' placeholder='__ __ ____').ui-input.js-dateMask2
                          
                        .profile__box__cta
                          button(type='submit').btn.btn--primary.btn--190 Оформить
                      
                  
                  
                                                                                                                  
                        
    include shared/footer.pug
    include shared/scripts.pug
    
