doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page
      
      // HERO ::START
      .hero
        .hero__slider.dots--center
          .hero__slide
            .hero__bg
              // image is optional - it's used to set .hero__bg background-image property
              img(src='images/homepageBanner.png' srcset='images/homepageBanner@2x.png 2x').hero__bg--desktop
              img(src='images/homepageMobBanner.png' srcset='images/homepageMobBanner@2x.png 2x').hero__bg--mobile
            .container
              .hero__content
                .hero__title Роскошный уход <br> для молодости кожи
                .hero__subtitle Основан на научном подходе
                .hero__cta
                  a(href='#').btn.btn--primary 
                    span Подробнее
          // slide
          .hero__slide
            .hero__bg
              // image is optional - it's used to set .hero__bg background-image property
              img(src='images/homepageBanner.png' srcset='images/homepageBanner@2x.png 2x').hero__bg--desktop
              img(src='images/homepageMobBanner.png' srcset='images/homepageMobBanner@2x.png 2x').hero__bg--mobile
            .container
              .hero__content
                .hero__title Роскошный уход <br> для молодости кожи
                .hero__subtitle Основан на научном подходе
                .hero__cta
                  a(href='#').btn.btn--primary 
                    span Подробнее
          // slide
          .hero__slide
            .hero__bg
              // image is optional - it's used to set .hero__bg background-image property
              img(src='images/homepageBanner.png' srcset='images/homepageBanner@2x.png 2x').hero__bg--desktop
              img(src='images/homepageMobBanner.png' srcset='images/homepageMobBanner@2x.png 2x').hero__bg--mobile
            .container
              .hero__content
                .hero__title Роскошный уход <br> для молодости кожи
                .hero__subtitle Основан на научном подходе
                .hero__cta
                  a(href='#').btn.btn--primary 
                    span Подробнее
                              
                    
      // BANNERS :: START
      .banners
        .banners__wrapper
          a(href='#').banners__card
            img(src='images/banner_1.png')
            .banners__card__content.banners__card__content--right
              .banners__card__title Скидка 10%
              .banners__card__subtitle Зарегистрируйтесь на сайте <br> и получите скидку 10% <br> на всю продукцию Excellance
          a(href='#').banners__card
            img(src='images/banner_2.png')
            .banners__card__content.banners__card__content--dark
              .banners__card__title АКция!
              .banners__card__subtitle При заказе <br> в интернет магазине <br> скидка 5%
          a(href='#').banners__card
            img(src='images/banner_3.png')
            .banners__card__content.banners__card__content--white
              .banners__card__title Excellance <br> дарит подарки!
              .banners__card__subtitle Приобретите товар в интернет <br> магазине на сумму от 1500р <br> и получите подарок
                      
      // BESTSELLERS :: START
      .bestsellers
        .container
          .heading.text-center Наши Бестселлеры
          .bestsellers__slider__nav
            .container
              i.icon.icon-prev
              i.icon.icon-next
          .bestsellers__slider
            // card
            .bestsellers__card(data-href='#')
              .bestsellers__card__image
                img(src='images/goods/goods_1.png' srcset='images/goods/goods_1@2x.png 2x')
              .bestsellers__card__description Крем-сияние <br> для обезвоженной кожи SPF15 <br> «Клеточное восстановление»
              .bestsellers__card__cta
                a(href='#').btn.btn--cart
                  i.icon.icon-cart
                  span В корзину
            // card
            .bestsellers__card(data-href='#')
              .bestsellers__card__image
                img(src='images/goods/goods_2.png' srcset='images/goods/goods_2@2x.png 2x')
              .bestsellers__card__description «Экспресс-пилинг
              .bestsellers__card__cta
                a(href='#').btn.btn--cart
                  i.icon.icon-cart
                  span В корзину
            // card
            .bestsellers__card(data-href='#')
              .bestsellers__card__image
                img(src='images/goods/goods_3.png' srcset='images/goods/goods_3@2x.png 2x')
              .bestsellers__card__description «Экспресс-пилинг <br> для нормальной кожи
              .bestsellers__card__cta
                a(href='#').btn.btn--cart
                  i.icon.icon-cart
                  span В корзину  
            // card
            .bestsellers__card(data-href='#')
              .bestsellers__card__image
                img(src='images/goods/goods_4.png' srcset='images/goods/goods_4@2x.png 2x')
              .bestsellers__card__description «Экспресс-пилинг <br> для чувствительной  и нормальной кожи
              .bestsellers__card__cta
                a(href='#').btn.btn--cart
                  i.icon.icon-cart
                  span В корзину 
            // card
            .bestsellers__card(data-href='#')
              .bestsellers__card__image
                img(src='images/goods/goods_5.png' srcset='images/goods/goods_5@2x.png 2x')
              .bestsellers__card__description «Экспресс-пилинг <br> для чувствительной  и нормальной кожи
              .bestsellers__card__cta
                a(href='#').btn.btn--cart
                  i.icon.icon-cart
                  span В корзину
            // card
            .bestsellers__card(data-href='#')
              .bestsellers__card__image
                img(src='images/goods/goods_5.png' srcset='images/goods/goods_5@2x.png 2x')
              .bestsellers__card__description «Экспресс-пилинг <br> для чувствительной  и нормальной кожи
              .bestsellers__card__cta
                a(href='#').btn.btn--cart
                  i.icon.icon-cart
                  span В корзину
                  
                  
      // EVENTS PROMO :: START
      .event-promo
        .container.container--1400
          .event-promo__content
            .heading Мероприятия EXCELLANCE
            .event-promo__text Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения модели развития. Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение дальнейших направлений развития. 
            a(href='#').btn.btn--primary
              span Подробнее
      // PROMO :: START
      .promo
        .promo__wrapper
          a(href='#').promo__card
            .promo__card__image
              img(src='images/promo_1.png' srcset='images/promo_1@2x.png 2x')
            .promo__card__text Акции рив гош
          a(href='#').promo__card
            .promo__card__image
              img(src='images/promo_2.png' srcset='images/promo_2@2x.png 2x')
            .promo__card__text Акции Artocoly
          a(href='#').promo__card
            .promo__card__image
              img(src='images/promo_1.png' srcset='images/promo_1@2x.png 2x')
            .promo__card__text 
              p Купите подарочный набор уже сейчас!
            .promo__card__description
              p Решаете что подприть на новый год любимой женщине?
              p Купите подарочный сертификат на 10 000, 20 000 или 30 000 рублей в наших фирменных магазинах  уже сейчас!

          a(href='#').promo__card
            .promo__card__image
              img(src='images/promo_2.png' srcset='images/promo_2@2x.png 2x')
            .promo__card__text Акции Artocoly
      
      // PROMO VIDEO :: START
      .promo-video
        .promo-video__video
          img(src='images/video.png' srcset='images/video@2x.png 2x')
          iframe(width='100%', height='100%', src='https://www.youtube.com/embed/Ve0V1wQAZOU?autoplay=0&showinfo=0&controls=0', frameborder='0', allowfullscreen='')  
          i.icon.icon-play-btn
          span ВИДЕО О БРЕНДЕ
      
    include shared/footer.pug
    include shared/scripts.pug
