doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug

    // HERO ::START
    .hero
      .hero__slider.dots--center
        .hero__slide
          .hero__bg
            // image is optional - it's used to set .hero__bg background-image property
            img(src='images/homepageBanner.png' srcset='images/homepageBanner@2x.png' 2x)
          .container
            .hero__content
              .hero__title Роскошный уход <br> для молодости кожи
              .hero__subtitle Основан на научном подходе
              .hero__cta
                a(href='#').btn.btn--primary 
                  span Подробнее
        // slide
        .hero__slide
          .hero__bg
            // image is optional - it's used to set .hero__bg background-image property
            img(src='images/homepageBanner.png' srcset='images/homepageBanner@2x.png' 2x)
          .container
            .hero__content
              .hero__title Роскошный уход <br> для молодости кожи
              .hero__subtitle Основан на научном подходе
              .hero__cta
                a(href='#').btn.btn--primary 
                  span Подробнее
                            
    include shared/footer.pug
