doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page.header-static
      
      // TEXT PAGE :: START
      .text
        .container
          .text__wrapper
            // sidebar
            .text__sidebar
              a(href='#').text__card
                .text__card__info
                  .text__card__name О компании
                  .text__card__short История создания Cellexon® началась с удивительного открытия в области клинической медицины…
                .text__card__image
                  img(src='images/textcard_About.png' srcset='images/textcard_About@2x.png 2x')
              a(href='#').text__card
                .text__card__info
                  .text__card__name Новости и публикации  в прессе
                  .text__card__short Последние упоминания о бренде в средствах массовой информации.
                .text__card__image
                  img(src='images/textcardNews.png' srcset='images/textcardNews@2x.png 2x')
            
            // content
            .text__content
              .heading.text-center CELLEXON®
              .text__content__paragraph
                p История создания Cellexon® началась с удивительного открытия в области клинической медицины. Более 10 лет ведущие специалисты одной из крупнейших фармацевтических компаний «Фарм-Синтез» посвятили масштабным исследованиям белково-пептидного компонента одного из жизненно важных фармацевтических препаратов, применяемых для восстановления нервных тканей головного и спинного мозга. В ходе его испытаний российские ученые заметили уникальное свойство этого компонента восстанавливать клетки не только нервной, но и кожной ткани и создали на его основе инновационную «формулу молодости» - белково-пептидный нуклеотидный комплекс Cellexon®. 

                p Патент № 2428196 принадлежит российской компании «Фарм-Синтез» и подтверждает, что в ближайшие 20 лет никто не сможет повторить феномен Cellexon®.
              .text__content__paragraph.text__content__paragraph--white
                .subheading.text-center ДОКАЗАНО КЛИНИЧЕСКИ
                p Проникая глубоко в кожу, Cellexon® восстанавливает ее молодость на клеточном уровне: продлевает жизненный цикл клеток. Обладает пролонгированным эффектом, не вызывает аллергии.
                p Принцип действия Cellexon®: Ученые доказали, что в клетках кожи содержится скрытый резерв жизненной энергии, необходимой для естественного сохранения ее молодости. Cellexon® дает сигнал к пробуждению этого резерва, преумножает природный иммунитет клеток, насыщает кожу энергией молодости.
                p В отличие от большинства синтетических компонентов, натуральный Cellexon® воспринимается клетками кожи как свой собственный сигнальный комплекс, позволяющий эффективно запускать процесс обновления клеток.
                p Проницаемость Cellexon®: благодаря своему уникальному молекулярному составу способен проникать глубоко в дерму - значительно глубже, чем можно ожидать от большинства «косметических» компонентов.    
              
              .subheading.text-center КОМПЛЕКС CELLEXON® НЕ ИМЕЕТ АНАЛОГОВ В МИРЕ И ЯВЛЯЕТСЯ КЛЮЧЕВЫМ КОМПОНЕНТОМ EXCELLANCE MOSCOW.    
              
              .text__content__benefits
                .text__content__benefits__row
                  .text__content__benefits__icon
                    i.icon.icon-benefit-1
                  span КОРРЕКЦИЯ ВОЗРАСТНЫХ ИЗМЕНЕНИЙ - РЕВИТАЛИЗАЦИЯ И РЕГЕНЕРАЦИЯ
                .text__content__benefits__row
                  .text__content__benefits__icon
                    i.icon.icon-benefit-2
                  span ПОВЫШЕНИЕ КЛЕТОЧНОГО ИММУНИТЕТА - ЗАЩИТА ОТ ЕЖЕДНЕВНЫХ ФАКТОРОВ СТРЕССА. ЗАПУСК ПРОЦЕССОВ АКТИВНОГО КЛЕТОЧНОГО ОБНОВЛЕНИЯ
                .text__content__benefits__row
                  .text__content__benefits__icon
                    i.icon.icon-benefit-3
                  span ИНТЕНСИВНОЕ ВОССТАНОВЛЕНИЕ ПОСЛЕ ВСЕХ ВИДОВ ЭСТЕТИЧЕСКИХ ПРОЦЕДУР, В ТОМ ЧИСЛЕ ПИЛИНГОВ, МЕЗОТЕРАПИИ, ПЛАСТИЧЕСКИХ ОПЕРАЦИЙ
                    
                  
    include shared/footer.pug
    include shared/scripts.pug
