doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page.page--light-bg.header-static
      
      // PROFILE PAGE
      .profile
        .container.container--1000
          .heading.heading--mute Личный кабинет
          
          // cabinet
          .profile__cabinet.profile__cabinet--orders
            .profile__cabinet-nav
              a(href='profile-personal.html') Личные данные
              a(href='#').active Заказы
              a(href='profile-adress.html') Адреса
              a(href='#') Выход
              
            .profile__orders
              // signle order
              .profile__orders__row.profile__orders__thead
                span Номер заказа
                span Сумма
                span Статус
                span Оплата
                span Дата заказа
              
              // signle order
              .profile__order
                .profile__orders__row.profile__order__head
                  span 12344559bg
                    span Номер заказа
                  span 150 000 ₽
                    span Сумма
                  span Ожидает погрузки
                    span Статус
                  span Наличные
                    span Оплата
                  span 21 09 2017
                    span Дата заказа
                  span
                    i.icon.icon-next
                .profile__order__toggable
                  .profile__order__details
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ «КЛЕТОЧНОЕ ВОССТАНОВЛЕНИЕ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
        
              // signle order
              .profile__order
                .profile__orders__row.profile__order__head
                  span 12344559bg
                    span Номер заказа
                  span 150 000 ₽
                    span Сумма
                  span Ожидает погрузки
                    span Статус
                  span Наличные
                    span Оплата
                  span 21 09 2017
                    span Дата заказа
                  span
                    i.icon.icon-next
                .profile__order__toggable
                  .profile__order__details
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ «КЛЕТОЧНОЕ ВОССТАНОВЛЕНИЕ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart

              // signle order
              .profile__order
                .profile__orders__row.profile__order__head
                  span 12344559bg
                    span Номер заказа
                  span 150 000 ₽
                    span Сумма
                  span Ожидает погрузки
                    span Статус
                  span Наличные
                    span Оплата
                  span 21 09 2017
                    span Дата заказа
                  span
                    i.icon.icon-next
                .profile__order__toggable
                  .profile__order__details
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ «КЛЕТОЧНОЕ ВОССТАНОВЛЕНИЕ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
        
              // signle order
              .profile__order
                .profile__orders__row.profile__order__head
                  span 12344559bg
                    span Номер заказа
                  span 150 000 ₽
                    span Сумма
                  span Ожидает погрузки
                    span Статус
                  span Наличные
                    span Оплата
                  span 21 09 2017
                    span Дата заказа
                  span
                    i.icon.icon-next
                .profile__order__toggable
                  .profile__order__details
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО <br>  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ «КЛЕТОЧНОЕ ВОССТАНОВЛЕНИЕ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart
                    // card
                    .profile__order__card.catalog__card
                      a(href='#').catalog__card__name ИНТЕНСИВНО  УВЛАЖНЯЮЩИЙ КРЕМ УВЛАЖНЯЮЩИЙ КРЕМ
                      .catalog__card__short 50 ml
                      .catalog__card__cta
                        .catalog__card__price 4 050 ₽
                        a(href='#')
                          i.icon.icon-cart


                                  
                                  
                                                                                                                        
                        
    include shared/footer.pug
    include shared/scripts.pug
    
