doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page.page--light-bg.header-static
      
      // PROFILE PAGE
      .profile
        .container.container--1000
          .heading.heading--mute Личный кабинет
          
          // cabinet
          .profile__cabinet
            .profile__cabinet-nav
              a(href='#').active Личные данные
              a(href='profile-orders.html') Заказы
              a(href='profile-adress.html') Адреса
              a(href='#') Выход
              
            .profile__box
              form(action='#')
                .ui-group.ui-group--labeled
                  label Фамилия
                  input(type='text' name='last_name' placeholder='Фамилия').ui-input
                .ui-group.ui-group--labeled
                  label Имя
                  input(type='text' name='first_name' placeholder='Имя').ui-input
                .ui-group.ui-group--labeled
                  label Отчество
                  input(type='text' name='patronymic_name' placeholder='Отчество').ui-input
                .ui-group.ui-group--labeled
                  label Дата рождения
                  input(type='text' name='birthday' placeholder='__ __ ____').ui-input.js-dateMask
                .ui-group.ui-group--labeled.ui-group--phone
                  label Телефон
                  input(type='tel' name='phone' placeholder='').ui-input
                  i.icon.icon-plus.js-addPhone
                .ui-group.ui-group--labeled.js-toggablePhone
                  label Второй Телефон
                  input(type='tel' name='phone_1' placeholder='').ui-input
                .ui-group.ui-group--labeled
                  label Тип кожи
                  .ui-select
                    input(type='hidden')
                    .ui-select__visible
                      span Сухая и нормальная
                      i.icon.icon-dropdown
                    .ui-select__dropdown
                      span.ui-select__dropdown__placeholder Выберите тип кожи
                      span(data-val='Сухая и нормальная').active Сухая и нормальная
                      span(data-val='Нормальная') Нормальная
              
                .ui-group.ui-group--radios
                  .ui-radio
                    input(type='radio' name='type' id='radio_1')
                    label(for='radio_1') Я проффесионал в области косметологии
                  .ui-radio
                    input(type='radio' name='type' id='radio_2')
                    label(for='radio_2') Я приобретаю товары для персонального использования
                .ui-radio
                  input(type='radio' name='markteting' id='radio_3')
                  label(for='radio_3') Получать рассылки от EXCELLANCE
                
                .profile__box__cta
                  button(type='submit').btn.btn--primary.btn--190 Сохранить


        
    
                                                                                                                        
                        
    include shared/footer.pug
    include shared/scripts.pug
    
