doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page.page--light-bg
      
      // Service page
      .service
        .container
          .service__head
            .service__head__title Услуги салона  EXCELLANCE Moscow
            .service__head__desc 
              p Фармацевтические корни, колоссальная доказательная база эффективности, безопасности и качества EXCELLANCE Moscow позволили создать линии средств не только для домашнего, но и для профессионального ухода.
              p Ведущие косметологи страны рекомендуют своим клиентам сочетать салонные процедуры EXCELLANCE Moscow c ежедневным использованием домашней линии марки – для комплексного восстановления здоровья и молодости кожи.
        
        // Contact section
        .service__contacts
          .container
            .service__contacts__wrapper
              .service__contacts__item
                .service__contacts__item__icon
                  i.icon.icon-cellphone
                .service__contacts__item__content
                  a(href='#') +7 903 707 14 02 
                  span Записаться на процедуру <br> в фирменный центр <br> косметологии EXCELLANCE Moscow 
              .service__contacts__item
                .service__contacts__item__icon
                  i.icon.icon-placeholder
                .service__contacts__item__content
                  span Другие салоны, где Вы можете получить профессиональный уход с использованием косметики EXCELLANCE Moscow смотрите в разделе “АДРЕСА”.
              .service__contacts__item
                .service__contacts__item__icon
                  i.icon.icon-cart
                .service__contacts__item__content
                  span В каждом салоне Вы также можете приобрести средства для домашнего ухода из основной линейки.
                  
            .text-center
              a(href='#').btn.btn--primary.btn--190 Перейти в АДРЕСА                                                                   
        
        // Service list
        .container
          .service__list
            // item
            .service__list__item
              .service__list__item__head
                span ОСНОВНОЙ УХОД:
                i.icon.icon-next
              // item list list
              .service__list__item-list
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Омолаживающий уход «Клеточное восстановление»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Уход «Глубокое очищение и увлажнение»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Детокс & лифтинг уход
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Анти-стресс уход 
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Экспресс-уход для лица EXCELLANCE Moscow
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Экспресс-уход для рук 10 мин (регенерирующий крем для тела)
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
            
            // item
            .service__list__item
              .service__list__item__head
                span ИНТЕНСИВНЫЙ УХОД:
                i.icon.icon-next
              // item list list
              .service__list__item-list
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Омолаживающий уход «Клеточное восстановление»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Уход «Глубокое очищение и увлажнение»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
  
            // item
            .service__list__item
              .service__list__item__head
                span ЧИСТКА ЛИЦА:
                i.icon.icon-next
              // item list list
              .service__list__item-list
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Омолаживающий уход «Клеточное восстановление»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Уход «Глубокое очищение и увлажнение»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
            
            // item
            .service__list__item
              .service__list__item__head
                span ЧИСТКА СПИНЫ:
                i.icon.icon-next
              // item list list
              .service__list__item-list
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Омолаживающий уход «Клеточное восстановление»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Уход «Глубокое очищение и увлажнение»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон  
                  
                  
            // item
            .service__list__item
              .service__list__item__head
                span КРИОМАССАЖ ЛИЦА, ШЕИ И ДЕКОЛЬТЕ
                i.icon.icon-next
              // item list list
              .service__list__item-list
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Омолаживающий уход «Клеточное восстановление»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Уход «Глубокое очищение и увлажнение»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                
            // item
            .service__list__item
              .service__list__item__head
                span УХОДЫ ПО ЛИЦУ  С ТЕХНИКАМИ МАССАЖА:
                i.icon.icon-next
              // item list list
              .service__list__item-list
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Омолаживающий уход «Клеточное восстановление»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Уход «Глубокое очищение и увлажнение»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
            
            // item
            .service__list__item
              .service__list__item__head
                span ЭСТЕТИЧЕСКИЕ УСЛУГИ:
                i.icon.icon-next
              // item list list
              .service__list__item-list
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Омолаживающий уход «Клеточное восстановление»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон
                // next item
                .service__list__item-list__item
                  .service__list__item-list__head
                    span Уход «Глубокое очищение и увлажнение»
                  .service__list__item-list__dropdown
                    .service__list__item-list__dropdown__description Абсолютный «элексир молодости»! Заметный и пролонгированный anti-age эффект: улучшается цвета лица, разглаживается микрорельеф, кожа наполняется жизненной энергией. Интенсивное очищение, увлажнение и питание в исполнении бестселлеров марки.
                    .service__list__item-list__dropdown__office
                      i.icon.icon-placeholder
                      span Найти ближайший салон                    
                                
                                
    include shared/footer.pug
    include shared/scripts.pug
    
