doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    .page
      
      // MEDIA :: START
      .media
        .container
          .media__head 2017 год
          .docs-list
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_1.png' srcset='images/docs/pressImg_1@2x.png 2x')
              .docs-list__card__title FW Magazine
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_2.png' srcset='images/docs/pressImg_2@2x.png 2x')
              .docs-list__card__title FW Magazine
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_3.png' srcset='images/docs/pressImg_3@2x.png 2x')
              .docs-list__card__title Sky Shop UTair
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_4.png' srcset='images/docs/pressImg_4@2x.png 2x')
              .docs-list__card__title Tatler
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_5.png' srcset='images/docs/pressImg_5@2x.png 2x')
              .docs-list__card__title Sky Shop Airflot
              .docs-list__card__meta Апрель - Май
          
          // next year
          .media__head 2016 год
          .docs-list
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_1.png' srcset='images/docs/pressImg_1@2x.png 2x')
              .docs-list__card__title FW Magazine
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_2.png' srcset='images/docs/pressImg_2@2x.png 2x')
              .docs-list__card__title FW Magazine
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_3.png' srcset='images/docs/pressImg_3@2x.png 2x')
              .docs-list__card__title Sky Shop UTair
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_4.png' srcset='images/docs/pressImg_4@2x.png 2x')
              .docs-list__card__title Tatler
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_5.png' srcset='images/docs/pressImg_5@2x.png 2x')
              .docs-list__card__title Sky Shop Airflot
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_1.png' srcset='images/docs/pressImg_1@2x.png 2x')
              .docs-list__card__title FW Magazine
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_2.png' srcset='images/docs/pressImg_2@2x.png 2x')
              .docs-list__card__title FW Magazine
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_3.png' srcset='images/docs/pressImg_3@2x.png 2x')
              .docs-list__card__title Sky Shop UTair
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_4.png' srcset='images/docs/pressImg_4@2x.png 2x')
              .docs-list__card__title Tatler
              .docs-list__card__meta Апрель - Май
            a(href='#').docs-list__card
              .docs-list__card__image
                img(src='images/docs/pressImg_5.png' srcset='images/docs/pressImg_5@2x.png 2x')
              .docs-list__card__title Sky Shop Airflot
              .docs-list__card__meta Апрель - Май
              
              

    include shared/footer.pug
    include shared/scripts.pug
    
