/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */
/* SOCIALS */

/* 2. Elements */
/* @import "elements/_iconfont.sss" */
/* ICONS */
.icon {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: ' ';
    vertical-align: middle;
    font-style: normal;
}
.icon-logo {
    width: 329px;
    height: 71px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='280px' height='63px' viewBox='0 0 280 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23421D6A'%3E %3Cg id='Symbols' stroke='none' stroke-width='1' fill-rule='evenodd'%3E %3Cg id='ex-logo'%3E %3Cg id='logo'%3E %3Cpath d='M172.987286,61.3705638 C169.359922,61.3705638 168.739765,58.1926925 168.739765,56.1867889 C168.739765,54.8365187 169.106722,50.9918702 172.987286,50.9918702 C175.911928,50.9918702 177.238476,53.255941 177.238476,56.1867889 C177.238476,61.1996905 173.858807,61.3705638 172.987286,61.3705638 L172.987286,61.3705638 Z M172.987286,49.5914523 C169.446156,49.5914523 166.923331,51.8332353 166.923331,56.1867889 C166.923331,62.6874023 172.154295,62.7784109 172.987286,62.7784109 C173.770738,62.7784109 179.053075,62.6874023 179.053075,56.1867889 C179.053075,51.1163105 175.807346,49.5914523 172.987286,49.5914523 L172.987286,49.5914523 Z M147.856276,1.06530195 L142.375782,1.06530195 L142.375782,32.4224037 L162.391419,32.4224037 L162.774889,31.4603129 L147.856276,31.4603129 L147.856276,1.06530195 Z M150.553406,61.3705638 C147.867285,61.3705638 146.252677,59.2272187 146.252677,56.3279451 C146.252677,53.6255473 147.250798,50.9918702 150.428641,50.9918702 C153.334935,50.9918702 153.898213,52.8974786 153.989953,53.8038498 L155.69263,53.8038498 C155.496309,51.8982414 154.479839,49.5914523 150.428641,49.5914523 C149.355293,49.5914523 144.436243,49.788328 144.436243,56.3966659 C144.436243,60.3806132 146.707703,62.7784109 150.481849,62.7784109 C154.571578,62.7784109 155.621074,60.0611545 155.857761,58.2799865 L154.155083,58.2799865 C154.061509,60.0611545 152.593683,61.3705638 150.553406,61.3705638 L150.553406,61.3705638 Z M170.42593,20.8383106 L175.216546,8.96261857 L179.423701,20.8383106 L170.42593,20.8383106 Z M178.005414,1.06530195 L177.12105,1.06530195 L164.633523,32.4224037 L165.783931,32.4224037 L170.180069,21.7966867 L179.763136,21.7966867 L183.742778,32.4224037 L189.507663,32.4224037 L178.005414,1.06530195 Z M200.509016,60.4121876 L197.874269,49.9647733 L195.914722,49.9647733 L193.27814,60.4121876 L190.625045,49.9647733 L188.704028,49.9647733 L192.083697,62.4013753 L194.259748,62.4013753 L196.890826,51.9353878 L199.529242,62.4013753 L201.705294,62.4013753 L205.083128,49.9647733 L203.160276,49.9647733 L200.509016,60.4121876 Z M264.075039,31.4603129 L264.075039,16.1448677 L272.098541,16.1448677 L272.098541,15.1902062 L264.075039,15.1902062 L264.075039,2.02553542 L279.002826,2.02553542 L278.344139,1.06530195 L258.598215,1.06530195 L258.598215,32.4224037 L279.09273,32.4224037 L279.727565,31.4603129 L264.075039,31.4603129 Z M218.060541,23.0875228 L201.039268,1.06530195 L196.931191,1.06530195 L196.931191,32.4224037 L197.960504,32.4224037 L197.960504,5.85346805 L218.748584,32.9517393 L219.089854,32.9517393 L219.089854,1.06530195 L218.060541,1.06530195 L218.060541,23.0875228 Z M240.441212,32.0397961 C238.626612,32.0397961 236.716604,31.1780005 235.4451,29.9800303 C232.804849,27.5859473 232.458075,23.9938941 232.458075,21.4122219 L232.458075,13.6560614 C232.458075,11.6000103 232.656232,7.19630905 234.957048,4.36575624 C235.881779,3.2235056 237.843161,1.4497668 241.265029,1.4497668 C246.453793,1.4497668 248.939922,3.90885598 250.316009,5.4281422 L250.316009,3.36094714 C248.853687,2.09425619 245.67768,0.539680926 240.727438,0.539680926 C237.500056,0.539680926 232.509449,1.6856462 229.038042,7.09787119 C227.03079,10.2107363 226.296877,13.5149053 226.296877,17.1051012 C226.296877,21.360217 227.373894,24.617953 228.937129,27.012036 C231.678293,31.2708664 235.933152,32.9517393 239.652256,32.9517393 C246.116193,32.9517393 250.6848,29.983745 252.128773,27.4373619 L251.046252,26.8095883 C249.235322,29.0736591 245.940054,32.0397961 240.441212,32.0397961 L240.441212,32.0397961 Z M81.1839671,60.2023107 L77.2061597,49.9647733 L74.6466388,49.9647733 L74.6466388,62.4013753 L76.3529861,62.4013753 L76.3529861,52.433149 L76.3162904,51.953961 L76.3529861,51.953961 L80.4940891,62.4013753 L81.8756799,62.4013753 L86.0002699,51.953961 L86.049809,51.953961 L86.0149482,52.433149 L86.0149482,62.4013753 L87.7194607,62.4013753 L87.7194607,49.9647733 L85.1654441,49.9647733 L81.1839671,60.2023107 Z M122.796823,1.06530195 L117.319999,1.06530195 L117.319999,32.4224037 L137.333801,32.4224037 L137.713601,31.4603129 L122.796823,31.4603129 L122.796823,1.06530195 Z M5.47902608,16.1448677 L13.4988583,16.1448677 L13.4988583,15.1902062 L5.47902608,15.1902062 L5.47902608,2.02553542 L20.4068126,2.02553542 L19.7499606,1.06530195 L0.000366956405,1.06530195 L0.000366956405,32.4224037 L20.4948822,32.4224037 L21.1333863,31.4603129 L5.47902608,31.4603129 L5.47902608,16.1448677 Z M81.6610104,27.4373619 L80.5821586,26.8095883 C78.7638896,29.0736591 75.4686211,32.0397961 69.964275,32.0397961 C68.1533452,32.0397961 66.2433371,31.1780005 64.9681636,29.9800303 C62.3334166,27.5859473 61.9921472,23.9938941 61.9921472,21.4122219 L61.9921472,13.6560614 C61.9921472,11.6000103 62.1829645,7.19630905 64.4874507,4.36575624 C65.4121809,3.2235056 67.3698933,1.4497668 70.7954313,1.4497668 C75.9841949,1.4497668 78.4666549,3.90885598 79.8409067,5.4281422 L79.8409067,3.36094714 C78.3840898,2.09425619 75.2080821,0.539680926 70.2578402,0.539680926 C67.0286238,0.539680926 62.0398515,1.6856462 58.5666091,7.09787119 C56.5630272,10.2107363 55.8291143,13.5149053 55.8291143,17.1051012 C55.8291143,21.360217 56.9042966,24.617953 58.4693657,27.012036 C61.21053,31.2708664 65.46172,32.9517393 69.1789883,32.9517393 C75.6429254,32.9517393 80.2133674,29.983745 81.6610104,27.4373619 L81.6610104,27.4373619 Z M48.6881427,1.16188249 L47.3524214,1.16188249 L39.4848761,12.940994 L31.5017395,1.16188249 L24.9864285,1.16188249 L35.9639294,17.1571061 L25.6891501,32.5264135 L27.0432192,32.5264135 L36.5510596,18.1656298 L46.3010913,32.5264135 L52.6531067,32.5264135 L40.2242932,13.9495177 L48.6881427,1.16188249 Z M109.261636,31.4603129 L93.5999371,31.4603129 L93.5999371,16.1448677 L101.627108,16.1448677 L101.627108,15.1902062 L93.5999371,15.1902062 L93.5999371,2.02553542 L108.529558,2.02553542 L107.874541,1.06530195 L88.1267823,1.06530195 L88.1267823,32.4224037 L108.619463,32.4224037 L109.261636,31.4603129 Z M105.709498,61.3705638 C102.07296,61.3705638 101.456474,58.1926925 101.456474,56.1867889 C101.456474,54.8365187 101.821595,50.9918702 105.709498,50.9918702 C108.634141,50.9918702 109.958854,53.255941 109.958854,56.1867889 C109.958854,61.1996905 106.58102,61.3705638 105.709498,61.3705638 L105.709498,61.3705638 Z M105.709498,49.5914523 C102.16103,49.5914523 99.6418743,51.8332353 99.6418743,56.1867889 C99.6418743,62.6874023 104.871003,62.7784109 105.709498,62.7784109 C106.487446,62.7784109 111.769783,62.6874023 111.769783,56.1867889 C111.769783,51.1163105 108.522219,49.5914523 105.709498,49.5914523 L105.709498,49.5914523 Z M128.392909,55.1522627 C126.719587,54.8365187 125.211397,54.5839234 125.211397,53.0739238 C125.211397,51.7979462 126.396666,50.9918702 128.156222,50.9918702 C128.981874,50.9918702 130.974447,51.136741 131.209299,53.1983641 L132.917481,53.1983641 C132.770698,51.2778972 131.357916,49.5914523 128.216769,49.5914523 C125.343501,49.5914523 123.402301,50.8135676 123.402301,53.1612177 C123.402301,56.0233449 125.961822,56.2555097 128.866282,56.875854 C130.049717,57.1303065 131.425803,57.5370592 131.425803,59.0637747 C131.425803,60.2561729 130.556117,61.3705638 128.303004,61.3705638 C125.978335,61.3705638 124.616927,60.1113021 124.670136,58.458289 L122.965623,58.458289 C123.165615,62.3865168 126.396666,62.7784109 128.216769,62.7784109 C129.2681,62.7784109 133.242237,62.7375499 133.242237,59.0266283 C133.242237,56.0382035 130.666203,55.5813032 128.392909,55.1522627 L128.392909,55.1522627 Z' id='Fill-1'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}
.icon-logo:before {
    display: none !important;
}
.icon-benefit-1 {
    width: 30px;
    height: 28px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='30px' height='28px' viewBox='0 0 30 28' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Ebenefit-1%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E %3Cpolygon id='path-1' points='1.58682233e-05 26.9241468 23.6110166 26.9241468 23.6110166 1.05172453e-05 1.58682233e-05 1.05172453e-05 1.58682233e-05 26.9241468'/%3E %3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Инновация' transform='translate(-848.000000, -1068.000000)'%3E %3Cg id='main-slot' transform='translate(510.000000, 320.000000)'%3E %3Cg id='Group' transform='translate(328.000000, 737.644782)'%3E %3Cg id='benefit-1' transform='translate(10.000000, 10.992398)'%3E %3Cg id='Page-1' transform='translate(2.749262, 0.000000)'%3E %3Cmask id='mask-2' fill='white'%3E %3Cuse xlink:href='%23path-1'/%3E %3C/mask%3E %3Cg id='Clip-2'/%3E %3Cpath d='M22.4828547,25.8017569 L11.8057093,25.8017569 L1.12856389,25.8017569 L1.12856389,23.2365483 C1.12856389,22.4009006 1.66617928,21.6605918 2.46826506,21.3877745 L2.53147348,21.3697374 C3.58644584,21.0870864 4.16912699,20.8101674 4.63729246,20.5875173 C4.81829599,20.5012233 4.9744922,20.4264457 5.12698582,20.3689164 C6.39025506,19.8907498 8.13163385,19.1348228 8.66136803,18.1077613 C8.68204961,18.0683216 8.69691285,18.0346139 8.70511143,18.0157354 L8.78201941,17.8448302 C9.83080317,18.6172166 10.9093663,19.0707202 11.8056564,19.0707202 C12.7015763,19.0707202 13.7808799,18.6171641 14.8288703,17.8448302 L14.9065717,18.0157354 C14.9139768,18.0329837 14.928893,18.0674803 14.9495216,18.1069199 C15.4800492,19.1348228 17.2206875,19.8907498 18.4851733,20.3689164 C18.6372438,20.4264457 18.7925408,20.5012759 18.9744435,20.5875173 C19.4422387,20.8101674 20.0248141,21.0870864 21.0802096,21.3697374 L21.1431007,21.3877745 C21.9447633,21.6606444 22.4828018,22.4009532 22.4828018,23.2365483 L22.4828018,25.8017569 L22.4828547,25.8017569 Z M15.5328904,15.6936329 C14.9105916,16.3772538 14.2221752,16.9508118 13.5345522,17.3566723 C12.8874461,17.7388164 12.2732929,17.9491613 11.8055506,17.9491613 C11.3377554,17.9491613 10.7237081,17.7388164 10.076549,17.3566723 C9.35089521,16.9294092 8.62524137,16.3148866 7.97728893,15.5810984 C7.1605515,14.6551076 6.53698323,13.6223141 6.14313393,12.5710103 C6.33032607,12.1716706 6.54729757,11.7588161 6.79727498,11.3475393 C7.56878798,10.079738 8.50310895,9.07276437 9.574214,8.35464689 C10.9023314,7.4647828 12.4569412,7.01369817 14.1949876,7.01369817 C14.718163,7.01369817 15.2660927,7.05476801 15.8247599,7.13527752 C16.5661233,7.35671811 17.8883165,8.04570282 18.5935533,8.88708241 C18.7307605,9.47415501 18.5301333,9.79992667 18.381977,10.4295941 C18.0065877,12.0251653 17.4363367,13.0389226 16.5065646,14.4439739 L15.5328904,15.6936329 Z M5.37003411,11.796836 C4.95941739,10.2719406 4.66479738,9.99139312 4.62861783,7.94173985 C4.79703257,6.07371941 5.29762212,4.96735784 5.98566826,3.93698336 C6.78569117,2.7385959 7.92413039,1.9461215 9.36840315,1.58169897 C10.5792015,1.27643594 11.744934,1.12156951 12.8321189,1.12156951 C14.3635611,1.12156951 15.4768227,1.43172306 16.1412252,1.69223521 C16.4718132,1.82164991 16.7263924,1.9514853 16.9066025,2.05460688 L15.5478594,5.96902024 C15.086676,5.9176435 14.633744,5.89177108 14.1949347,5.89177108 C12.2200815,5.89177108 10.4472836,6.41148073 8.92578552,7.43649141 C7.71625666,8.2511572 7.02345005,8.82855394 6.16720074,10.2442803 C5.67391058,11.0601555 5.64566514,11.0770883 5.37003411,11.796836 L5.37003411,11.796836 Z M19.2819168,8.21208563 C19.1521676,8.03707868 19.0026361,7.85628724 18.8307303,7.67633718 C18.3546836,7.17718874 17.6488122,6.6246127 16.6488496,6.23678929 L17.8637737,2.73612435 C18.0621265,2.90950113 18.2504823,3.10422792 18.4208012,3.32566851 C19.32328,4.49076889 19.610865,6.13040736 19.2819168,8.21208563 L19.2819168,8.21208563 Z M7.67711505,16.8990669 L7.67256616,17.562968 C7.66759411,17.573643 7.66346838,17.5842654 7.65849633,17.594993 C7.51139791,17.8792742 6.93617482,18.4832269 4.72493795,19.3204522 C4.10179283,19.5561963 3.62823216,19.9153076 2.22817885,20.2891956 L2.13185873,20.3171189 C0.857481745,20.7352846 1.58682233e-05,21.9103238 1.58682233e-05,23.2364958 L1.58682233e-05,26.9241573 L11.8057093,26.9241573 L23.6110325,26.9241573 L23.6110325,23.2365483 C23.6109796,21.9103763 22.7539369,20.7353898 21.479507,20.3171715 L21.3828695,20.2892482 C19.9827633,19.9153602 19.5101018,19.5562488 18.8869038,19.3205048 C16.6752967,18.4832269 16.1000207,17.8793267 15.9529223,17.5950456 C15.9479502,17.584318 15.9438245,17.573643 15.9387996,17.5630206 L15.9347267,16.8991195 C16.3793014,16.4611815 16.802454,15.9697632 17.1876816,15.4373277 C17.1876816,15.4373277 19.4751388,11.796836 19.8630111,9.5181171 C20.7010649,6.37072641 20.6456319,4.35893523 19.3149756,2.6412588 C18.9009207,2.10635173 18.4174689,1.69307659 17.9149752,1.37261614 C17.686843,1.1971885 16.0149141,1.05172453e-05 12.8321718,1.05172453e-05 C11.6511528,1.05172453e-05 10.3924325,0.166393331 9.0911324,0.494636542 C7.36630945,0.929314271 6.00550354,1.87912665 5.04558184,3.31662368 C4.26126847,4.49118958 3.58046881,5.94225385 3.50959075,7.79712774 C3.5011277,10.8502839 4.33595491,11.8394834 5.12317745,13.4620839 L7.67711505,16.8990669 Z' id='Fill-1' fill='%23421D6A' mask='url(%23mask-2)'/%3E %3C/g%3E %3Cpath d='M25.7350578,17.2524716 L25.7350578,16.2626132 C25.7350578,16.217001 25.7172854,16.1738445 25.6843408,16.1421584 C25.6526327,16.1104723 25.6082256,16.0914765 25.5638185,16.0914765 C24.8738677,16.0914765 24.3449778,16.1104723 23.831276,16.3500352 C23.3873636,16.5566128 23.003094,16.9077108 22.6238343,17.4590492 C22.63907,16.9559212 22.7050227,16.3551208 22.9802325,15.8469072 C23.416535,15.0407649 24.2612527,14.6415198 25.5638185,14.6301445 C25.657706,14.6288454 25.7337577,14.5528462 25.7337577,14.4590237 L25.7337577,13.4678978 L28.0256457,15.3576261 L25.7350578,17.2524716 Z M28.404842,15.2245602 L25.6716417,12.9735469 C25.6209247,12.9317846 25.5498829,12.9228649 25.4902559,12.9507804 C25.4306765,12.9786325 25.3925793,13.039454 25.3925793,13.105377 L25.3925793,14.2917368 C24.0659313,14.3398839 23.1540084,14.8075709 22.6796246,15.683391 C22.2712569,16.4388038 22.275046,17.3336039 22.2788826,17.9255005 L22.2788826,18.0623846 C22.2788826,18.1396828 22.3308362,18.2081407 22.4069514,18.2284515 C22.4209505,18.2322063 22.4361228,18.2334421 22.4501219,18.2334421 C22.5110013,18.2334421 22.5680282,18.2017559 22.5984996,18.1473034 C23.5243423,16.5161021 24.2866509,16.4375047 25.3913427,16.4337182 L25.3913427,17.6162441 C25.3913427,17.6821512 25.4293765,17.7429885 25.4902559,17.7708406 C25.5511195,17.7987561 25.6209247,17.7898364 25.6728783,17.7480741 L28.404842,15.4894403 C28.4441759,15.4565184 28.4670215,15.4083714 28.4670215,15.3576261 C28.4670215,15.3069283 28.4441759,15.2574821 28.404842,15.2245602 L28.404842,15.2245602 Z' id='Page-1' fill='%233996C4' transform='translate(25.372583, 15.584066) rotate(-124.000000) translate(-25.372583, -15.584066) '/%3E %3Cpath d='M4.29218908,17.2524716 L4.29218908,16.2626132 C4.29218908,16.217001 4.27440967,16.1738445 4.24145193,16.1421584 C4.2097313,16.1104723 4.16530656,16.0914765 4.12088181,16.0914765 C3.43065672,16.0914765 2.90155657,16.1104723 2.38765061,16.3500352 C1.94356176,16.5566128 1.55913942,16.9077108 1.17972894,17.4590492 C1.19497071,16.9559212 1.26094962,16.3551208 1.53626885,15.8469072 C1.97274475,15.0407649 2.81779824,14.6415198 4.12088181,14.6301445 C4.2148066,14.6288454 4.29088854,14.5528462 4.29088854,14.4590237 L4.29088854,13.4678978 L6.58368755,15.3576261 L4.29218908,17.2524716 Z M6.96303458,15.2245602 L4.22874782,12.9735469 C4.17801067,12.9317846 4.10694059,12.9228649 4.04728994,12.9507804 C3.98768688,12.9786325 3.94957454,13.039454 3.94957454,13.105377 L3.94957454,14.2917368 C2.62239915,14.3398839 1.71011377,14.8075709 1.2355414,15.683391 C0.827011376,16.4388038 0.830801991,17.3336039 0.834640188,17.9255005 L0.834640188,18.0623846 C0.834640188,18.1396828 0.886614443,18.2081407 0.962759821,18.2284515 C0.97676448,18.2322063 0.991942802,18.2334421 1.00594746,18.2334421 C1.06685107,18.2334421 1.12390063,18.2017559 1.15438416,18.1473034 C2.0805949,16.5161021 2.84320647,16.4375047 3.94833743,16.4337182 L3.94833743,17.6162441 C3.94833743,17.6821512 3.98638633,17.7429885 4.04728994,17.7708406 C4.1081777,17.7987561 4.17801067,17.7898364 4.22998492,17.7480741 L6.96303458,15.4894403 C7.00238403,15.4565184 7.02523874,15.4083714 7.02523874,15.3576261 C7.02523874,15.3069283 7.00238403,15.2574821 6.96303458,15.2245602 L6.96303458,15.2245602 Z' id='Page-1-Copy' fill='%233996C4' transform='translate(3.929570, 15.584066) scale(-1, 1) rotate(-124.000000) translate(-3.929570, -15.584066) '/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}
.icon-benefit-1:before {
    display: none !important;
}
.icon-benefit-2 {
    width: 26px;
    height: 26px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='26px' height='26px' viewBox='0 0 26 26' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Ebenefit-2%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs%3E %3Cpath d='M22.387216,24.5466717 C21.1897006,24.5466717 20.2154842,23.5780293 20.2154842,22.3872753 C20.2154842,21.1965213 21.1897006,20.227879 22.387216,20.227879 C23.5843363,20.227879 24.5581575,21.1965213 24.5581575,22.3872753 C24.5581575,23.5780293 23.5843363,24.5466717 22.387216,24.5466717 Z M11.7712215,14.2528808 C11.7712215,13.0625199 12.7454379,12.0938775 13.9425582,12.0938775 C15.1396784,12.0938775 16.1138948,13.0625199 16.1138948,14.2528808 C16.1138948,15.4440278 15.1396784,16.4126702 13.9425582,16.4126702 C12.7454379,16.4126702 11.7712215,15.4440278 11.7712215,14.2528808 Z M4.12055988,23.9267248 C2.92264918,23.9267248 1.948828,22.9576893 1.948828,21.7673285 C1.948828,20.5761814 2.92264918,19.607539 4.12055988,19.607539 C5.31728492,19.607539 6.2911061,20.5761814 6.2911061,21.7673285 C6.2911061,22.9576893 5.31728492,23.9267248 4.12055988,23.9267248 Z M22.387216,5.31456021 C23.5843363,5.31456021 24.5581575,6.28320259 24.5581575,7.47395656 C24.5581575,8.66471053 23.5843363,9.63335291 22.387216,9.63335291 C21.1897006,9.63335291 20.2154842,8.66471053 20.2154842,7.47395656 C20.2154842,6.28320259 21.1897006,5.31456021 22.387216,5.31456021 Z M3.35699555,11.5729964 C2.15987529,11.5729964 1.1856589,10.6039609 1.1856589,9.41320691 C1.1856589,8.22284606 2.15987529,7.25381056 3.35699555,7.25381056 C4.55411582,7.25381056 5.52793699,8.22284606 5.52793699,9.41320691 C5.52793699,10.6039609 4.55411582,11.5729964 3.35699555,11.5729964 Z M9.01377414,3.3387499 C9.01377414,2.14799593 9.98799053,1.17935355 11.185506,1.17935355 C12.3826263,1.17935355 13.3568427,2.14799593 13.3568427,3.3387499 C13.3568427,4.52950386 12.3826263,5.49814625 11.185506,5.49814625 C9.98799053,5.49814625 9.01377414,4.52950386 9.01377414,3.3387499 Z M22.387216,19.0485254 C21.6556645,19.0485254 20.9802341,19.2851824 20.4277171,19.6814451 L16.4846108,16.4280018 C16.9908872,15.8430425 17.2995537,15.0839319 17.2995537,14.2528808 C17.2995537,13.7323927 17.17585,13.2413885 16.9612457,12.8018828 L20.4126988,10.1683863 C20.9679823,10.5717252 21.6489458,10.8127065 22.387216,10.8127065 C24.2380296,10.8127065 25.7438164,9.31492745 25.7438164,7.47395656 C25.7438164,5.63298567 24.2380296,4.13520666 22.387216,4.13520666 C20.5360073,4.13520666 19.0298253,5.63298567 19.0298253,7.47395656 C19.0298253,8.15287109 19.2357347,8.78421835 19.5870849,9.31178251 L16.2640783,11.8469995 C15.6605779,11.2706888 14.8432637,10.914524 13.9425582,10.914524 C13.8370345,10.914524 13.7323013,10.9204207 13.6287538,10.9302487 L12.42531,6.43848414 C13.6639283,5.94708683 14.5425016,4.74375309 14.5425016,3.3387499 C14.5425016,1.49777901 13.0363196,0 11.185506,0 C9.33429726,0 7.82811524,1.49777901 7.82811524,3.3387499 C7.82811524,5.17972079 9.33429726,6.6774998 11.185506,6.6774998 C11.2111953,6.6774998 11.2360941,6.67435485 11.2613882,6.67396173 L12.4877547,11.2490673 C11.9447229,11.5100975 11.482316,11.9091121 11.1499362,12.4036544 L6.49187767,10.597671 C6.63297108,10.2289264 6.71359588,9.83069807 6.71359588,9.41320691 C6.71359588,7.57223602 5.20820431,6.07445701 3.35699555,6.07445701 C1.5057868,6.07445701 0,7.57223602 0,9.41320691 C0,11.2545709 1.5057868,12.7523499 3.35699555,12.7523499 C4.356506,12.7523499 5.25286412,12.3128442 5.86782587,11.6213499 L10.678044,13.4866941 C10.6199467,13.733179 10.5855626,13.9890987 10.5855626,14.2528808 C10.5855626,14.7788724 10.7116377,15.2749872 10.9305894,15.7176379 L6.17095933,19.1299008 C5.60342394,18.6915744 4.89321426,18.4281854 4.12055988,18.4281854 C2.26895591,18.4281854 0.763169109,19.9259644 0.763169109,21.7673285 C0.763169109,23.6082993 2.26895591,25.1060784 4.12055988,25.1060784 C5.9709782,25.1060784 7.47676499,23.6082993 7.47676499,21.7673285 C7.47676499,21.1226152 7.28903567,20.5219311 6.9696982,20.0108779 L11.631709,16.6685899 C12.2344189,17.2393971 13.0473857,17.5920238 13.9425582,17.5920238 C14.5231358,17.5920238 15.0693293,17.4446046 15.5459642,17.185933 L19.5989415,20.5301866 C19.2396869,21.0612888 19.0298253,21.7001053 19.0298253,22.3872753 C19.0298253,24.2282462 20.5360073,25.7260252 22.387216,25.7260252 C24.2380296,25.7260252 25.7438164,24.2282462 25.7438164,22.3872753 C25.7438164,20.5463044 24.2380296,19.0485254 22.387216,19.0485254 L22.387216,19.0485254 Z' id='path-1'/%3E %3C/defs%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Инновация' transform='translate(-850.000000, -1149.000000)'%3E %3Cg id='main-slot' transform='translate(510.000000, 320.000000)'%3E %3Cg id='Group-3' transform='translate(328.000000, 816.589496)'%3E %3Cg id='benefit-2' transform='translate(12.000000, 12.576711)'%3E %3Cg id='Oval'%3E %3Cmask id='mask-2' fill='white'%3E %3Cuse xlink:href='%23path-1'/%3E %3C/mask%3E %3Cuse id='Mask' fill='%23421D6A' xlink:href='%23path-1'/%3E %3Cellipse fill='%233996C4' mask='url(%23mask-2)' cx='11.1360075' cy='3.07214499' rx='3.62739437' ry='3.60810385'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}
.icon-benefit-2:before {
    display: none !important;
}
.icon-benefit-3 {
    width: 29px;
    height: 29px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='29px' height='29px' viewBox='0 0 29 29' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Ebenefit-3%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Инновация' transform='translate(-848.000000, -1226.000000)'%3E %3Cg id='main-slot' transform='translate(510.000000, 320.000000)'%3E %3Cg id='Group-2' transform='translate(328.000000, 896.534900)'%3E %3Cg id='benefit-3' transform='translate(10.000000, 9.993089)'%3E %3Cpath d='M14.5800736,16.8995848 C14.8776361,16.6214686 15.2115189,16.3735254 15.4661975,16.0608633 C16.0958924,15.2868606 15.9576133,14.0882498 15.1782619,13.465112 C14.9227081,13.2604605 14.6212072,13.1104701 14.3315213,12.9530459 C14.2260616,12.8953236 14.1871159,12.8371641 14.190179,12.7208451 C14.2330631,11.020663 14.2733215,9.32135548 14.3105169,7.6207361 C14.3144552,7.45850165 14.3538385,7.35180298 14.5074333,7.25559926 C14.8933895,7.01508996 15.0517978,6.52576286 14.9161442,6.09853089 C14.7713013,5.64549883 14.3774684,5.35732496 13.909245,5.36257244 C13.4506485,5.36738263 13.0537525,5.66255313 12.9207245,6.09678173 C12.785071,6.54019342 12.9496056,7.02471033 13.3447512,7.26740608 C13.4847807,7.35355214 13.5158497,7.44713212 13.5193504,7.59581059 C13.5517323,9.00038489 13.5924283,10.4049592 13.6278733,11.8099708 C13.6344371,12.0719073 13.629186,12.3347183 13.629186,12.5966548 C13.6108072,12.6123973 13.5919907,12.628577 13.5736119,12.6438821 C13.3281227,12.4527865 13.0555029,12.2870538 12.8441459,12.0631615 C12.4721927,11.6682889 12.4013028,10.6502787 13.0546277,10.2103653 C13.103638,10.1771313 13.1662137,10.1180972 13.1675264,10.069558 C13.1775911,9.71972634 13.1732151,9.36945734 13.1732151,9.02924601 C13.1102019,9.0170019 12.9754235,9.0506732 12.9233501,9.07428684 C12.1015522,9.44685761 11.6044476,10.0669343 11.5326826,10.976934 C11.4631054,11.8641947 11.7471027,12.618082 12.5015113,13.1332092 C12.8139521,13.3466065 13.1666513,13.5040308 13.510161,13.668889 C13.6318116,13.7274858 13.6777588,13.7887064 13.6808219,13.9238289 C13.7184548,15.6091431 13.7617764,17.2953319 13.8033477,18.9806462 C13.805098,19.0466769 13.8037853,19.1118331 13.8037853,19.2006029 C13.3574414,18.898873 13.2480434,18.5293633 13.3071183,18.0343514 C13.3613797,17.5856922 13.2813004,16.6638857 13.2729861,16.6708823 C12.1667534,17.5235971 12.2323922,19.0217514 13.2274765,19.6978012 C13.3762578,19.7983778 13.5416676,19.8753408 13.6856354,19.9811648 C13.7495239,20.0279548 13.8147251,20.1175992 13.8199762,20.1919385 C13.842731,20.5216548 13.842731,20.8544322 13.8519204,21.1858978 C13.8702993,21.837022 13.8886781,22.4890209 13.907057,23.1427689 C13.916684,23.1418943 13.926311,23.1418943 13.9355005,23.1418943 C13.9604432,22.1597418 13.9845108,21.177152 14.0081408,20.1849418 C14.7463585,20.493231 14.9782823,21.417224 14.4833657,22.0434228 C14.3604024,22.1995352 14.3555888,22.3420916 14.3870955,22.5423702 C14.4789898,22.4772141 14.5516301,22.4330478 14.6155185,22.3783866 C15.404497,21.7123945 15.3869933,20.4669936 14.577448,19.776076 C14.4566726,19.6737502 14.3293333,19.5771092 14.1941174,19.4953361 C14.0672157,19.4188104 14.0287076,19.3243558 14.0326459,19.1783011 C14.0720292,17.7085706 14.1039734,16.2388402 14.1363552,14.769547 C14.1416063,14.5137326 14.1372304,14.2574809 14.1372304,13.9837375 C14.9380239,14.2885284 15.1270636,15.0135546 14.6163937,15.6327567 C14.5730721,15.6852315 14.524937,15.7543233 14.5231866,15.817293 C14.5139972,16.1605653 14.5599443,16.8820932 14.5800736,16.8995848' id='Fill-132' fill='%233996C4'/%3E %3Cpath d='M11.6586137,26.8963926 L17.0576243,26.8963926 L17.0690017,26.2575125 C17.0970076,24.7374937 17.1245759,23.2174749 17.1503939,21.6978935 C17.1552074,21.4342078 17.1543322,21.1705222 17.1530194,20.8364329 L17.1517066,19.0378606 L23.7926035,23.2148512 L26.6522675,18.6766594 L19.4840722,14.117915 L26.614197,9.50800768 L23.7256519,4.98599559 L17.174899,9.16517261 L17.174899,1.44394957 L11.7732628,1.44394957 L11.7732628,9.24169829 L5.11617501,5.05771109 C5.11617501,5.05771109 2.31733628,9.39387509 2.11254321,9.63394709 L9.53235393,14.124037 L2.17205572,18.7986632 C2.17205572,18.7986632 5.0286566,23.0377489 5.18575214,23.2786955 L11.6586137,19.1458712 L11.6586137,26.8963926 Z M18.3629614,28.2253158 L10.3287715,28.2253158 L10.3287715,21.5715168 L4.79366967,25.1056916 L0.256277748,18.2280002 L7.01051097,14.151149 L0.145129369,10.0703621 L4.6982746,3.22459295 L10.4434206,6.83616803 L10.4434206,0.115026376 L18.5047412,0.115026376 L18.5047412,6.7404016 L24.1308622,3.15112829 L28.4463949,9.90594124 L21.9464027,14.1087319 L28.4827151,18.2656071 L24.2087536,25.0470948 L18.4832992,21.4455774 C18.482424,21.5382828 18.4819865,21.629239 18.4802361,21.7206325 C18.4544182,23.2406513 18.3629614,28.2253158 18.3629614,28.2253158 L18.3629614,28.2253158 Z' id='Fill-134' fill='%23421D6A'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}
.icon-benefit-3:before {
    display: none !important;
}
.icon-account {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='32px' height='32px' viewBox='0 0 32 32' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23999999'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Eaccount%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='Menu-mini-1920' transform='translate(-1660.000000, -33.000000)'%3E %3Cg id='account' transform='translate(1658.000000, 33.000000)'%3E %3Ccircle id='Oval' fill='%23999999' cx='18' cy='16' r='16'/%3E %3Cg id='user-black-close-up-shape' stroke-width='1' transform='translate(12.000000, 8.000000)' fill='%23FFFFFF'%3E %3Cg id='Capa_1'%3E %3Cpath d='M7.89888384,6.58539045 C8.87324729,5.94905899 9.52017678,4.84070476 9.52017678,3.57676012 C9.52017678,1.60152055 7.94401453,0 6.0005236,0 C4.05615438,0 2.4803637,1.60152055 2.4803637,3.57679444 C2.4803637,4.84073908 3.1272932,5.94929926 4.10169043,6.58542477 C1.80600448,6.79418295 0,8.75919399 0,11.145497 L0,14.8578024 L0.00925584472,14.9158098 L0.261156699,14.9957159 C2.63240953,15.7484055 4.69298352,16 6.38896505,16 C9.70107112,16 11.6210846,15.0399595 11.7400594,14.9791032 L11.9752727,14.8578024 L12,14.8578024 L12,11.1454627 C12.0002702,8.75936561 10.1948738,6.79466349 7.89888384,6.58539045 Z' id='Shape'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}
.icon-account:before {
    display: none !important;
}
/* buttons */
button {
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.btn {
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.btn span, .btn .icon {
    position: relative;
    z-index: 2;
}
.btn:focus, .btn:active {
    outline: none;
}
.btn--primary {
    padding: 15px 60px;
    background: #410C50;
    color: white;
}
.btn--primary:hover {
    border-color: #410C50;
    background: transparent;
    color: #410C50;
}
.btn--primary.btn--invert {
    border-color: #410C50;
    background: transparent;
    color: #410C50;
}
.btn--primary.btn--invert:hover {
    border-color: transparent;
    background: #410C50;
    color: white;
}
.btn--cart {
    padding: 10px 25px;
    background: white;
    -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
    color: #410C50;
}
.btn--cart .icon {
    margin-right: 25px;
    vertical-align: -3px;
    font-size: 20px;
}
.btn--cart:hover {
    border-color: #410C50;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
}
.btn--white {
    padding: 10px 22px;
    background: #DBDEE0;
    font-size: 10px;
}
.btn--white:hover {
    border-color: #999999;
    background: transparent;
}
.btn--shadow {
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.btn--shadow:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
}
.btn.disabled, .btn:disabled {
    background: #F9F9F9;
    color: #999999;
    cursor: not-allowed !important;
}
.btn.disabled:hover, .btn:disabled:hover {
    border-color: transparent;
    background: #F9F9F9;
    color: #999999;
}
.btn--190 {
    padding-right: 10px;
    padding-left: 10px;
    min-width: 190px;
}
.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    margin-right: 0px;
    margin-left: -15px;
    padding: 15px 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -2px;
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background-color: #410C50;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    position: absolute;
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background-color: #410C50;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    display: block;
    content: "";
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
}
.hamburger--collapse .hamburger-inner:after {
    top: -20px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner:before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.active .hamburger-inner {
    -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
            transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--collapse.active .hamburger-inner:after {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse.active .hamburger-inner:before {
    top: 0;
    -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
/* Styles for dialog window */
.mfp-wrap {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}
html.mfp-helper {
    height: 100%;
}
html.mfp-helper body {
    overflow: hidden;
    height: 100%;
    -webkit-transform: translateZ(0);
}
/* can be removed */
.flex-modals {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.flex-modals .btn {
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    margin-top: 20px;
    -webkit-box-flex: 0;
}
.modal {}
.modal__content {
    position: relative;
    position: relative;
    margin: 40px auto;
    padding: 90px 100px 50px 80px;
    max-width: 1000px;
    background: white;
    text-align: left;
}
.modal__section {
    position: relative;
    position: relative;
    margin: 40px auto 8px auto;
    padding: 60px 40px 65px 32px;
    max-width: 365px;
    border-radius: 4px;
    background: white;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.modal__close:hover {
    color: #410C50;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.modal__icon {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #410C50;
    font-size: 15px;
}
.modal__heading {
    letter-spacing: 5px;
    font-size: 36px;
    line-height: 1;
}
.modal__head {
    letter-spacing: 3.33px;
    font-size: 24px;
}
.modal__desc {
    margin-top: 30px;
    color: #939393;
    letter-spacing: 2px;
    font-size: 18px;
}
.modal__text {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 1.3;
}
.modal__help-text {
    margin-top: 25px;
    font-size: 12px;
}
.modal__actions {
    margin-top: 50px;
    text-align: center;
}
.modal__sublink {
    display: block;
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.modal__sublink span {
    display: inline-block;
    border-bottom: 1px solid #313131;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.modal__sublink:hover {
    color: #410C50;
}
.modal__sublink:hover span {
    border-color: transparent;
}
.modal__form .ui-group {
    max-width: 100%;
}
.modal__form .ui-group > label {
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-size: 18px;
}
.modal__form .ui-group .ui-input {
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
}
.modal__guide {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    min-height: 650px;
    max-width: 365px;
}
.modal__guide__card {
    position: absolute;
    top: 50%;
    right: 0;
    margin: 0px auto 8px auto;
    padding: 45px 40px 75px 32px;
    min-height: 600px;
    max-width: 365px;
    border-radius: 4px;
    background: white;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.modal__guide__card--right {
    z-index: 1;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-transform: translate3d(20px,-50%,0);
            transform: translate3d(20px,-50%,0);
    pointer-events: none;
}
.modal__guide__card--right.shuffle {
    -webkit-animation-name: shuffleRight;
            animation-name: shuffleRight;
    -webkit-animation-duration: .35s;
            animation-duration: .35s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
.modal__guide__card--left {
    z-index: 2;
    -webkit-filter: blur(2px);
            filter: blur(2px);
    -webkit-transform: translate3d(-20px,-50%,0);
            transform: translate3d(-20px,-50%,0);
    pointer-events: none;
}
.modal__guide__card--left.shuffle {
    -webkit-animation-name: shuffleLeft;
            animation-name: shuffleLeft;
    -webkit-animation-duration: .35s;
            animation-duration: .35s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
.modal__guide__card--visible {
    z-index: 5;
    -webkit-transform: translate3d(0,-50%,0);
            transform: translate3d(0,-50%,0);
    pointer-events: all;
}
.modal__guide__card--visible.shuffle-next {
    -webkit-animation-name: shuffleOutNext;
            animation-name: shuffleOutNext;
    -webkit-animation-duration: .35s;
            animation-duration: .35s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
.modal__guide__card.shuffle-prev {
    -webkit-animation-name: shuffleOutPrev;
            animation-name: shuffleOutPrev;
    -webkit-animation-duration: .35s;
            animation-duration: .35s;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}
.modal__guide__progress {
    margin-top: 8px;
    color: #939393;
    font-size: 12px;
}
.modal__guide__form {
    margin-top: 25px;
}
.modal__guide__form__cta {
    margin-top: 25px;
}
.modal__guide__form__cta .btn {
    margin-bottom: 15px;
    padding: 10px;
    min-width: 220px;
    font-size: 12px;
}
.modal__guide__form__cta .btn:last-child {
    margin-bottom: 0;
}
.modal__guide__form__cta .btn.js-reset-guide {
    min-width: 140px;
    border: 1px solid #939393;
    background: transparent;
    color: #939393;
    text-transform: none;
}
.modal__guide__form__cta .btn.js-reset-guide:hover {
    border-color: transparent;
    background: #939393;
    color: #313131;
}
.modal__guide__results-head {
    position: relative;
    position: relative;
    margin: 8px auto 8px auto;
    padding: 80px 80px 35px 80px;
    max-width: 1000px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
}
.modal__guide__results {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 8px auto 8px auto;
    max-width: 1000px;
    text-align: left;
}
.modal__guide__results-sidebar {
    -webkit-flex: 0 1 365px;
        -ms-flex: 0 1 365px;
            flex: 0 1 365px;
    margin-right: 8px;
    padding: 20px 0px 10px 0px;
    max-width: 365px;
    border-radius: 4px;
    background: white;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
    -webkit-box-flex: 0;
}
.modal__guide__results-sidebar__title {
    padding-right: 32px;
    padding-left: 32px;
    letter-spacing: 2px;
    font-size: 16px;
}
.modal__guide__results-sidebar__text {
    margin-top: 15px;
    padding-right: 32px;
    padding-left: 32px;
    font-size: 12px;
    line-height: 1.3;
}
.modal__guide__results-sidebar__tabs {
    margin-top: 15px;
}
.modal__guide__results-sidebar__tab {
    margin-bottom: 3px;
    padding: 5px 32px;
    letter-spacing: 2px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.modal__guide__results-sidebar__tab.active, .modal__guide__results-sidebar__tab:hover {
    background: #DBDEE0;
}
.modal__guide__results-content {
    display: none;
    -webkit-flex: 0 1 630px;
        -ms-flex: 0 1 630px;
            flex: 0 1 630px;
    padding: 50px 80px 40px 40px;
    max-width: 630px;
    border-radius: 4px;
    background: white;
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    text-align: left;
    -webkit-box-flex: 0;
}
.modal__guide__results-content.active {
    display: block;
}
.modal__guide__results-content__text {
    margin-top: 25px;
    max-width: 366px;
    font-size: 12px;
    line-height: 1.3;
}
.modal__guide__results-catalog {
    display: none;
    margin: 8px auto;
    max-width: 1000px;
}
.modal__guide__results-catalog.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.modal__guide__results-catalog__placeholder {
    -webkit-flex: 0 1 365px;
        -ms-flex: 0 1 365px;
            flex: 0 1 365px;
    margin-right: 8px;
    max-width: 365px;
    -webkit-box-flex: 0;
}
.modal__guide__catalog {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 0 1 636px;
        -ms-flex: 0 1 636px;
            flex: 0 1 636px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -3px;
    margin-left: -3px;
    max-width: 636px;
    -webkit-box-flex: 0;
}
.modal__guide__catalog .catalog__card {
    -webkit-flex: 0 1 -webkit-calc(50% - 6px);
        -ms-flex: 0 1 calc(50% - 6px);
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: calc(50% - 6px);
    -webkit-box-flex: 0;
}
@media(max-width: 768px) {
    .modal {}
    .modal__content {
        padding: 90px 50px 50px 30px;
    }
}
@media(max-width: 640px) {
    .modal {}
    .modal__head {
        font-size: 20px;
    }
    .modal__desc {
        margin-top: 20px;
        font-size: 16px;
    }
}
@media(max-width: 414px) {
    .modal {}
    .modal__content {
        padding: 70px 25px 40px 20px;
    }
    .modal__icon {
        top: 20px;
        left: 20px;
    }
    .modal__close {
        top: 15px;
        right: 15px;
    }
}
/* Generic modifiers */
.modal button.mfp-close {
    opacity: 0 !important;
    pointer-events: none;
}
.modal .modal-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.modal.mfp-ready .modal-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.modal.mfp-removing .modal-dialog {
    opacity: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
.modal.mfp-wrap {
    z-index: 8;
}
.modal.mfp-bg {
    z-index: 8;
    background: #313131;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.modal.mfp-ready.mfp-bg {
    opacity: 0.96;
}
.modal.mfp-removing.mfp-bg {
    opacity: 0;
}
.modal--blur {}
.modal--blur.mfp-bg {
    background: transparent;
}
@media(max-height: 800px) {
    .modal .mfp-container {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
@media(max-width: 850px) {
    .modal .mfp-container {
        padding-top: 122px;
        padding-bottom: 122px;
    }
}
@media(max-width: 640px) {
    .modal .mfp-container {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
/* Keyframes */
@-webkit-keyframes shuffleRight {
    0% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(20px,-50%,0);
                transform: translate3d(20px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(100px, -55%, 0);
                transform: translate3d(100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
}
@keyframes shuffleRight {
    0% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(20px,-50%,0);
                transform: translate3d(20px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(100px, -55%, 0);
                transform: translate3d(100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
}
@-webkit-keyframes shuffleLeft {
    0% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(-20px,-50%,0);
                transform: translate3d(-20px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(-100px, -55%, 0);
                transform: translate3d(-100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
}
@keyframes shuffleLeft {
    0% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(-20px,-50%,0);
                transform: translate3d(-20px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(-100px, -55%, 0);
                transform: translate3d(-100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
}
@-webkit-keyframes shuffleOutNext {
    0% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(-100px, -55%, 0);
                transform: translate3d(-100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(-20px,-50%,0);
                transform: translate3d(-20px,-50%,0);
    }
}
@keyframes shuffleOutNext {
    0% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(-100px, -55%, 0);
                transform: translate3d(-100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(-20px,-50%,0);
                transform: translate3d(-20px,-50%,0);
    }
}
@-webkit-keyframes shuffleOutPrev {
    0% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(100px, -55%, 0);
                transform: translate3d(100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(20px,-50%,0);
                transform: translate3d(20px,-50%,0);
    }
}
@keyframes shuffleOutPrev {
    0% {
        -webkit-filter: blur(0px);
                filter: blur(0px);
        -webkit-transform: translate3d(0px,-50%,0);
                transform: translate3d(0px,-50%,0);
    }
    50% {
        -webkit-filter: blur(1px);
                filter: blur(1px);
        -webkit-transform: translate3d(100px, -55%, 0);
                transform: translate3d(100px, -55%, 0);
    }
    100% {
        -webkit-filter: blur(2px);
                filter: blur(2px);
        -webkit-transform: translate3d(20px,-50%,0);
                transform: translate3d(20px,-50%,0);
    }
}

/*# sourceMappingURL=secondary.css.map */
