/* 0. VARS */
/* LAYOUT */
/* COLORS */
/* OPTIONS */

/* 1. Layout */
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,500&subset=cyrillic');
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
body, html {
    overflow-x: hidden;
    margin: 0;
    min-width: 320px;
    max-width: 100%;
    background: white;
    color: #313131;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    max-width: 1200px;
}
.container--fluid {
    max-width: 100%;
}
@media(max-width: 640px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
/*header offset */
.page {
    margin-top: 255px;
}
@media(max-height: 800px) {
    .page {
        margin-top: 200px;
    }
}
@media(max-width: 768px) {
    .page {
        margin-top: 170px;
    }
}
@media(max-width: 640px) {
    .page {
        margin-top: 80px;
    }
}
/* CUSTOM 6 COL FLEX GRID */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.row--wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.row--column {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.row--aic {
    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.row--jcsb {
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.row--jcsa {
    -webkit-justify-content: space-around;
            justify-content: space-around;
        -ms-flex-pack: distribute;
}
.row--jcc {
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
}
.row--jcfe {
    -webkit-justify-content: flex-end;
            justify-content: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
}
.row--jcfs {
    -webkit-justify-content: flex-start;
            justify-content: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
}
.row--condenced {
    margin-right: 0;
    margin-left: 0;
}
.row--condenced .col {
    padding-right: 0;
    padding-left: 0;
}
@media(max-width: 992px) {
    .row {}
    .row--wrap--desktop {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--desktop {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--desktop {
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
    }
    .row--jcsb--desktop {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--desktop {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--desktop {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--desktop {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--desktop {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
@media(max-width: 768px) {
    .row {}
    .row--wrap--tablet {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--tablet {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--tablet {
        -webkit-align-items: center;
                align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
    }
    .row--jcsb--tablet {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--tablet {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--tablet {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--tablet {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--tablet {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
@media(max-width: 640px) {
    .row {}
    .row--wrap--mobile {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
    }
    .row--column--mobile {
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
    }
    .row--aic--mobile {
        -webkit-align-items: mobile;
                align-items: mobile;
        -webkit-box-align: mobile;
            -ms-flex-align: mobile;
    }
    .row--jcsb--mobile {
        -webkit-justify-content: space-between;
                justify-content: space-between;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
    }
    .row--jcsa--mobile {
        -webkit-justify-content: space-around;
                justify-content: space-around;
            -ms-flex-pack: distribute;
    }
    .row--jcc--mobile {
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
    }
    .row--jcfe--mobile {
        -webkit-justify-content: flex-end;
                justify-content: flex-end;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
    }
    .row--jcfs--mobile {
        -webkit-justify-content: flex-start;
                justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
    }
}
/* Desktop first method */
.col {
    -webkit-flex-grow: 0;
            flex-grow: 0;
    -webkit-flex-shrink: 1;
            flex-shrink: 1;
    padding-right: 15px;
    padding-left: 15px;
    min-width: 0;
    min-height: 1px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        -ms-flex-negative: 1;
}
.col--1-6 {
    -webkit-flex-basis: 16.6%;
            flex-basis: 16.6%;
        -ms-flex-preferred-size: 16.6%;
}
.col--2-6 {
    -webkit-flex-basis: 33.3%;
            flex-basis: 33.3%;
        -ms-flex-preferred-size: 33.3%;
}
.col--3-6 {
    -webkit-flex-basis: 50%;
            flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
}
.col--4-6 {
    -webkit-flex-basis: 66.4%;
            flex-basis: 66.4%;
        -ms-flex-preferred-size: 66.4%;
}
.col--5-6 {
    -webkit-flex-basis: 83%;
            flex-basis: 83%;
        -ms-flex-preferred-size: 83%;
}
.col--full {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
}
.col--1-4 {
    -webkit-flex-basis: 25%;
            flex-basis: 25%;
        -ms-flex-preferred-size: 25%;
}
.col--3-4 {
    -webkit-flex-basis: 75%;
            flex-basis: 75%;
        -ms-flex-preferred-size: 75%;
}
.col--auto {
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-flex: 1;
}
.col--grow {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
}
.col--no-shrink {
    -webkit-flex-shrink: 0;
            flex-shrink: 0;
        -ms-flex-negative: 0;
}
@media(max-width: 992px) {
    .col {}
    .col--full--desktop {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
    }
    .col--auto--desktop {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--desktop {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
@media(max-width: 768px) {
    .col {}
    .col--full--tablet {
        -webkit-flex-basis: 100%;
                flex-basis: 100%;
            -ms-flex-preferred-size: 100%;
    }
    .col--auto--tablet {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--tablet {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
@media(max-width: 640px) {
    .col {}
    .col--full--mobile flex-basismobile 100% {}
    .col--auto--tablet {
        -webkit-flex-basis: auto;
                flex-basis: auto;
            -ms-flex-preferred-size: auto;
    }
    .col--grow--mobile {
        -webkit-flex-grow: 1;
                flex-grow: 1;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
    }
}
/* OFFSETS AND PADDINGS */
.offset {}
.offset--1-6 {
    margin-left: 16.6%;
}
.no-pad {
    padding-right: 0;
    padding-left: 0;
}
.no-pad-l {
    padding-left: 0;
}
@media(max-width: 640px) {
    .no-pad-l {
        padding-left: 15px;
    }
}
.no-pad-r {
    padding-right: 0;
}
@media(max-width: 640px) {
    .no-pad-r {
        padding-right: 15px;
    }
}
.hidden--desktop {
    display: block;
}
@media(max-width: 992px) {
    .hidden--desktop {
        display: none;
    }
}
.visible--desktop {
    display: none;
}
@media(max-width: 992px) {
    .visible--desktop {
        display: block;
    }
}
.visible--mobile {
    display: none;
}
@media(max-width: 640px) {
    .visible--mobile {
        display: block;
    }
}
/* HELPERS */
/* Margins */
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}
.mt70 {
    margin-top: 70px;
}
.mt80 {
    margin-top: 80px;
}
.mt90 {
    margin-top: 90px;
}
.mt100 {
    margin-top: 100px;
}
/* Paddings */
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt30 {
    padding-top: 30px;
}
.pt40 {
    padding-top: 40px;
}
.pt50 {
    padding-top: 50px;
}
.pt60 {
    padding-top: 60px;
}
.pt70 {
    padding-top: 70px;
}
.pt80 {
    padding-top: 80px;
}
.pt90 {
    padding-top: 90px;
}
.pt100 {
    padding-top: 100px;
}
/* TYPOGRAPHY */
.heading {
    color: #410C50;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 36px;
    line-height: 1.2;
}
.text-center {
    text-align: center;
}

/* 2. Elements */
/* ICONS */
.icon {
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: ' ';
    vertical-align: middle;
    font-style: normal;
}
.icon-logo {
    width: 329px;
    height: 71px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3C?xml version='1.0' encoding='UTF-8'?%3E %3Csvg width='280px' height='63px' viewBox='0 0 280 63' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3C!-- Generator: Sketch 44.1 (41455) - http://www.bohemiancoding.com/sketch --%3E %3Ctitle%3Elogo%3C/title%3E %3Cdesc%3ECreated with Sketch.%3C/desc%3E %3Cdefs/%3E %3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='ex-logo' fill='%23421D6A'%3E %3Cg id='logo'%3E %3Cpath d='M172.987286,61.3705638 C169.359922,61.3705638 168.739765,58.1926925 168.739765,56.1867889 C168.739765,54.8365187 169.106722,50.9918702 172.987286,50.9918702 C175.911928,50.9918702 177.238476,53.255941 177.238476,56.1867889 C177.238476,61.1996905 173.858807,61.3705638 172.987286,61.3705638 L172.987286,61.3705638 Z M172.987286,49.5914523 C169.446156,49.5914523 166.923331,51.8332353 166.923331,56.1867889 C166.923331,62.6874023 172.154295,62.7784109 172.987286,62.7784109 C173.770738,62.7784109 179.053075,62.6874023 179.053075,56.1867889 C179.053075,51.1163105 175.807346,49.5914523 172.987286,49.5914523 L172.987286,49.5914523 Z M147.856276,1.06530195 L142.375782,1.06530195 L142.375782,32.4224037 L162.391419,32.4224037 L162.774889,31.4603129 L147.856276,31.4603129 L147.856276,1.06530195 Z M150.553406,61.3705638 C147.867285,61.3705638 146.252677,59.2272187 146.252677,56.3279451 C146.252677,53.6255473 147.250798,50.9918702 150.428641,50.9918702 C153.334935,50.9918702 153.898213,52.8974786 153.989953,53.8038498 L155.69263,53.8038498 C155.496309,51.8982414 154.479839,49.5914523 150.428641,49.5914523 C149.355293,49.5914523 144.436243,49.788328 144.436243,56.3966659 C144.436243,60.3806132 146.707703,62.7784109 150.481849,62.7784109 C154.571578,62.7784109 155.621074,60.0611545 155.857761,58.2799865 L154.155083,58.2799865 C154.061509,60.0611545 152.593683,61.3705638 150.553406,61.3705638 L150.553406,61.3705638 Z M170.42593,20.8383106 L175.216546,8.96261857 L179.423701,20.8383106 L170.42593,20.8383106 Z M178.005414,1.06530195 L177.12105,1.06530195 L164.633523,32.4224037 L165.783931,32.4224037 L170.180069,21.7966867 L179.763136,21.7966867 L183.742778,32.4224037 L189.507663,32.4224037 L178.005414,1.06530195 Z M200.509016,60.4121876 L197.874269,49.9647733 L195.914722,49.9647733 L193.27814,60.4121876 L190.625045,49.9647733 L188.704028,49.9647733 L192.083697,62.4013753 L194.259748,62.4013753 L196.890826,51.9353878 L199.529242,62.4013753 L201.705294,62.4013753 L205.083128,49.9647733 L203.160276,49.9647733 L200.509016,60.4121876 Z M264.075039,31.4603129 L264.075039,16.1448677 L272.098541,16.1448677 L272.098541,15.1902062 L264.075039,15.1902062 L264.075039,2.02553542 L279.002826,2.02553542 L278.344139,1.06530195 L258.598215,1.06530195 L258.598215,32.4224037 L279.09273,32.4224037 L279.727565,31.4603129 L264.075039,31.4603129 Z M218.060541,23.0875228 L201.039268,1.06530195 L196.931191,1.06530195 L196.931191,32.4224037 L197.960504,32.4224037 L197.960504,5.85346805 L218.748584,32.9517393 L219.089854,32.9517393 L219.089854,1.06530195 L218.060541,1.06530195 L218.060541,23.0875228 Z M240.441212,32.0397961 C238.626612,32.0397961 236.716604,31.1780005 235.4451,29.9800303 C232.804849,27.5859473 232.458075,23.9938941 232.458075,21.4122219 L232.458075,13.6560614 C232.458075,11.6000103 232.656232,7.19630905 234.957048,4.36575624 C235.881779,3.2235056 237.843161,1.4497668 241.265029,1.4497668 C246.453793,1.4497668 248.939922,3.90885598 250.316009,5.4281422 L250.316009,3.36094714 C248.853687,2.09425619 245.67768,0.539680926 240.727438,0.539680926 C237.500056,0.539680926 232.509449,1.6856462 229.038042,7.09787119 C227.03079,10.2107363 226.296877,13.5149053 226.296877,17.1051012 C226.296877,21.360217 227.373894,24.617953 228.937129,27.012036 C231.678293,31.2708664 235.933152,32.9517393 239.652256,32.9517393 C246.116193,32.9517393 250.6848,29.983745 252.128773,27.4373619 L251.046252,26.8095883 C249.235322,29.0736591 245.940054,32.0397961 240.441212,32.0397961 L240.441212,32.0397961 Z M81.1839671,60.2023107 L77.2061597,49.9647733 L74.6466388,49.9647733 L74.6466388,62.4013753 L76.3529861,62.4013753 L76.3529861,52.433149 L76.3162904,51.953961 L76.3529861,51.953961 L80.4940891,62.4013753 L81.8756799,62.4013753 L86.0002699,51.953961 L86.049809,51.953961 L86.0149482,52.433149 L86.0149482,62.4013753 L87.7194607,62.4013753 L87.7194607,49.9647733 L85.1654441,49.9647733 L81.1839671,60.2023107 Z M122.796823,1.06530195 L117.319999,1.06530195 L117.319999,32.4224037 L137.333801,32.4224037 L137.713601,31.4603129 L122.796823,31.4603129 L122.796823,1.06530195 Z M5.47902608,16.1448677 L13.4988583,16.1448677 L13.4988583,15.1902062 L5.47902608,15.1902062 L5.47902608,2.02553542 L20.4068126,2.02553542 L19.7499606,1.06530195 L0.000366956405,1.06530195 L0.000366956405,32.4224037 L20.4948822,32.4224037 L21.1333863,31.4603129 L5.47902608,31.4603129 L5.47902608,16.1448677 Z M81.6610104,27.4373619 L80.5821586,26.8095883 C78.7638896,29.0736591 75.4686211,32.0397961 69.964275,32.0397961 C68.1533452,32.0397961 66.2433371,31.1780005 64.9681636,29.9800303 C62.3334166,27.5859473 61.9921472,23.9938941 61.9921472,21.4122219 L61.9921472,13.6560614 C61.9921472,11.6000103 62.1829645,7.19630905 64.4874507,4.36575624 C65.4121809,3.2235056 67.3698933,1.4497668 70.7954313,1.4497668 C75.9841949,1.4497668 78.4666549,3.90885598 79.8409067,5.4281422 L79.8409067,3.36094714 C78.3840898,2.09425619 75.2080821,0.539680926 70.2578402,0.539680926 C67.0286238,0.539680926 62.0398515,1.6856462 58.5666091,7.09787119 C56.5630272,10.2107363 55.8291143,13.5149053 55.8291143,17.1051012 C55.8291143,21.360217 56.9042966,24.617953 58.4693657,27.012036 C61.21053,31.2708664 65.46172,32.9517393 69.1789883,32.9517393 C75.6429254,32.9517393 80.2133674,29.983745 81.6610104,27.4373619 L81.6610104,27.4373619 Z M48.6881427,1.16188249 L47.3524214,1.16188249 L39.4848761,12.940994 L31.5017395,1.16188249 L24.9864285,1.16188249 L35.9639294,17.1571061 L25.6891501,32.5264135 L27.0432192,32.5264135 L36.5510596,18.1656298 L46.3010913,32.5264135 L52.6531067,32.5264135 L40.2242932,13.9495177 L48.6881427,1.16188249 Z M109.261636,31.4603129 L93.5999371,31.4603129 L93.5999371,16.1448677 L101.627108,16.1448677 L101.627108,15.1902062 L93.5999371,15.1902062 L93.5999371,2.02553542 L108.529558,2.02553542 L107.874541,1.06530195 L88.1267823,1.06530195 L88.1267823,32.4224037 L108.619463,32.4224037 L109.261636,31.4603129 Z M105.709498,61.3705638 C102.07296,61.3705638 101.456474,58.1926925 101.456474,56.1867889 C101.456474,54.8365187 101.821595,50.9918702 105.709498,50.9918702 C108.634141,50.9918702 109.958854,53.255941 109.958854,56.1867889 C109.958854,61.1996905 106.58102,61.3705638 105.709498,61.3705638 L105.709498,61.3705638 Z M105.709498,49.5914523 C102.16103,49.5914523 99.6418743,51.8332353 99.6418743,56.1867889 C99.6418743,62.6874023 104.871003,62.7784109 105.709498,62.7784109 C106.487446,62.7784109 111.769783,62.6874023 111.769783,56.1867889 C111.769783,51.1163105 108.522219,49.5914523 105.709498,49.5914523 L105.709498,49.5914523 Z M128.392909,55.1522627 C126.719587,54.8365187 125.211397,54.5839234 125.211397,53.0739238 C125.211397,51.7979462 126.396666,50.9918702 128.156222,50.9918702 C128.981874,50.9918702 130.974447,51.136741 131.209299,53.1983641 L132.917481,53.1983641 C132.770698,51.2778972 131.357916,49.5914523 128.216769,49.5914523 C125.343501,49.5914523 123.402301,50.8135676 123.402301,53.1612177 C123.402301,56.0233449 125.961822,56.2555097 128.866282,56.875854 C130.049717,57.1303065 131.425803,57.5370592 131.425803,59.0637747 C131.425803,60.2561729 130.556117,61.3705638 128.303004,61.3705638 C125.978335,61.3705638 124.616927,60.1113021 124.670136,58.458289 L122.965623,58.458289 C123.165615,62.3865168 126.396666,62.7784109 128.216769,62.7784109 C129.2681,62.7784109 133.242237,62.7375499 133.242237,59.0266283 C133.242237,56.0382035 130.666203,55.5813032 128.392909,55.1522627 L128.392909,55.1522627 Z' id='Fill-1'/%3E %3C/g%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
}
.icon-logo:before {
    display: none !important;
}
/* buttons */
button {}
button:focus {
    outline: none;
}
.btn {
    position: relative;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.btn span, .btn .icon {
    position: relative;
    z-index: 2;
}
.btn:focus, .btn:active {
    outline: none;
}
.btn:after {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    border-radius: 30px;
    content: ' ';
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.btn:hover {}
.btn:hover:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.btn--primary {
    padding: 15px 60px;
    background: #410C50;
    color: white;
}
.btn--primary:after {
    background: #7E6884;
}
.btn--cart {
    padding: 10px 25px;
    background: white;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    color: #410C50;
}
.btn--cart .icon {
    margin-right: 25px;
    font-size: 20px;
}
.btn--cart:after {
    background: #7E6884;
}
.btn--cart:hover {
    color: white;
}
.hamburger {
    display: inline-block;
    overflow: visible;
    margin: 0;
    margin-right: 10px;
    margin-left: -15px;
    padding: 15px 15px;
    border: 0;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    font: inherit;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}
.hamburger-inner {
    position: absolute;
    top: 50%;
    display: block;
    margin-top: -2px;
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background-color: #410C50;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    position: absolute;
    width: 32px;
    height: 4px;
    border-radius: 4px;
    background-color: #410C50;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
}
.hamburger-inner:before, .hamburger-inner:after {
    display: block;
    content: "";
}
.hamburger-inner:before {
    top: -10px;
}
.hamburger-inner:after {
    bottom: -10px;
}
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
}
.hamburger--collapse .hamburger-inner:after {
    top: -20px;
    -webkit-transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner:before {
    -webkit-transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.active .hamburger-inner {
    -webkit-transition-delay: 0.32s;
            transition-delay: 0.32s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
            transform: translate3d(0, -10px, 0) rotate(-45deg);
}
.hamburger--collapse.active .hamburger-inner:after {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse.active .hamburger-inner:before {
    top: 0;
    -webkit-transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}
/* UI */
/* THIS IS GROUPED INPUT WHERE DOM MANIPULATIONS IS REQUIRED */
/* label is used as a placeholder */
.input {
    position: relative;
}
.input--dynamic {
    margin-bottom: 15px;
    min-height: 40px;
    border-bottom: 1px solid $borderColor;
}
.input--dynamic label {
    position: absolute;
    bottom: 7px;
    display: block;
    font-weight: 600;
    font-size: 18px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.input--dynamic input {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    border: 0;
    background: transparent;
    color: $grayColor;
    font-weight: 600;
    font-size: 18px;
    -webkit-appearance: none;
}
.input--dynamic input:focus {
    outline: none;
}
.input--focused label {
    color: $grayColor;
    font-weight: 400;
    font-size: 12px;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
}
/* THIS IS REGULAR CLASS MODIFIER FOR THE INPUT IT */
.ui-input {
    display: block;
    padding: 12px 15px;
    width: 100%;
    border: 1px solid $borderColor;
    border-radius: 4px;
    background: white;
    color: $grayColor;
    -webkit-appearance: none;
}
.js-datepicker {
    background-image: svg-load('../../images/svg/calendar.svg');
    background-position: 95% center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
}
/* Checkbox */
.ui-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}
.ui-checkbox input:checked + label {}
.ui-checkbox input:checked + label:before {
    border-color: #4ab68f;
}
.ui-checkbox input:checked + label:after {
    -webkit-transform: translateY(-50%) scale(1);
        -ms-transform: translateY(-50%) scale(1);
            transform: translateY(-50%) scale(1);
}
.ui-checkbox label {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
}
.ui-checkbox label span {
    display: inline-block;
    padding-left: 35px;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.3;
    cursor: pointer;
}
.ui-checkbox label:before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #AFB7C0;
    border-radius: 4px;
    background-color: white;
    content: ' ';
    vertical-align: middle;
    cursor: pointer;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
.ui-checkbox label:after {
    position: absolute;
    top: 50%;
    left: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: svg-load(../../images/svg/checkbox.svg);
    background-position: center;
    background-repeat: no-repeat;
    content: ' ';
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    -webkit-transform: translateY(-50%) scale(0);
        -ms-transform: translateY(-50%) scale(0);
            transform: translateY(-50%) scale(0);
}
.ui-checkbox--chunk {
    margin-bottom: 5px;
    border: 1px solid rgba(236, 240, 241, 0.15);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.5);
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.ui-checkbox--chunk label {
    padding: 11px 15px;
}
.ui-checkbox--chunk label:before {
    left: 15px;
}
.ui-checkbox--chunk label:after {
    left: 16px;
}
.ui-checkbox--chunk:hover {
    border-color: #ECF0F1;
    background: white;
}

/* 3. Modules */
/* THIS MIGHT INCLUDE HEADER, FOOTER AND OTHER */
/* COMMON ELEMENTS ACROSS THE SITE */
/* HEADER */
.header {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    border-bottom: 1px solid #410C50;
    background: white;
    color: #410C50;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}
.header__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: 65px;
    padding-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.header__lang {
    -webkit-flex: 0 1 310px;
        -ms-flex: 0 1 310px;
            flex: 0 1 310px;
    margin-top: -32px;
    -webkit-box-flex: 0;
}
.header__lang a {
    display: inline-block;
    margin-right: 20px;
    -webkit-transition: color .25s ease-in-out;
    transition: color .25s ease-in-out;
}
.header__lang a:last-child {
    margin-right: 0;
}
.header__lang a.active {
    color: #7E6884;
    font-weight: 400;
}
.header__lang a:hover {
    color: #7E6884;
}
.header__hamburger {
    display: none;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-flex: 0;
}
.header__logo {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    -webkit-box-flex: 0;
}
.header__logo--small {
    margin-right: 3%;
}
.header__logo--small .icon-logo {
    width: 173px;
    height: 37px;
}
.header__cta {
    -webkit-flex: 0 1 310px;
        -ms-flex: 0 1 310px;
            flex: 0 1 310px;
    margin-top: -32px;
    text-align: right;
    -webkit-box-flex: 0;
}
.header__cta.searching .header__account {
    -webkit-transform: translate3d(0, 45px, 0);
            transform: translate3d(0, 45px, 0);
}
.header__cta.searching .header__cart {
    -webkit-transform: translate3d(10px, 45px, 0);
            transform: translate3d(10px, 45px, 0);
}
.header__cta--sticky {
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-top: 0;
    margin-left: 3%;
    -webkit-box-flex: 0;
}
.header__cta--sticky .icon-account {
    color: #939393;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.header__cta--sticky .icon-account:hover {
    color: #410C50;
}
.header__cta--sticky .header__account .icon {
    display: inline-block;
}
.header__cta--sticky .header__cart .icon {
    display: inline-block;
}
.header__cta--sticky.searching .header__account {
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
}
.header__cta--sticky.searching .header__cart {
    -webkit-transform: translate3d(0px, 0px, 0);
            transform: translate3d(0px, 0px, 0);
}
.header__cta--sticky.searching .header__search {}
.header__cta--sticky.searching .header__search.active input {
    margin-top: -3px;
}
.header__account {
    display: inline-block;
    margin-right: 30px;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}
.header__account .icon {
    display: none;
    font-size: 30px;
}
.header__cart {
    display: inline-block;
    margin-right: 25px;
    color: #939393;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
    transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}
.header__cart .icon {
    display: none;
}
.header__cart__counter {
    display: inline-block;
}
.header__search {
    position: relative;
    display: inline-block;
    margin-right: 0;
}
.header__search .icon {
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.header__search .icon:hover {
    color: #7E6884;
}
.header__search .icon-close {
    font-size: 0;
    opacity: 0;
}
.header__search input {
    position: absolute;
    top: 50%;
    right: 20px;
    display: inline-block;
    overflow: hidden;
    margin-right: 15px;
    padding: 7px 0px;
    width: 0;
    border: none;
    border-radius: 20px;
    -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
    pointer-events: none;
    -webkit-apperance: none;
}
.header__search.active .icon-search {
    font-size: 0px;
    opacity: 0;
}
.header__search.active .icon-close {
    font-size: 18px;
    opacity: 1;
}
.header__search.active input {
    padding-right: 15px;
    padding-left: 15px;
    width: 270px;
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
    pointer-events: all;
}
.header__navi {
    margin: 0;
    margin-bottom: 10px;
}
.header__navi .header__navi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    overflow-x: scroll;
    margin: 0 -10px;
    padding: 0;
    padding: 20px 0;
    white-space: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
.header__navi li {
    display: inline-block;
}
.header__navi li a {
    padding: 10px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.header__navi li a:hover {
    color: #7E6884;
}
.header__navi--sticky {
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 0;
    min-width: 0;
    max-width: 100%;
    -webkit-box-flex: 0;
}
.header--sticky {
    position: fixed;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
}
.header--transformed {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
}
.header__line {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding: 20px 0;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
}
@media(max-height: 800px) {
    .header {}
    .header__top {
        margin-bottom: 30px;
        padding-top: 35px;
    }
}
@media(max-width: 1440px) {
    .header {}
    .header__navi {}
    .header__navi--sticky {
        font-size: 15px;
    }
}
@media(max-width: 1200px) {
    .header {
        font-size: 15px;
    }
    .header__cta {
        font-size: 17px;
    }
}
@media(max-width: 1050px) {
    .header {}
    .header__cart .icon {
        display: inline-block;
    }
    .header__cart span {
        display: none;
    }
    .header__cart span span {
        display: inline-block;
        font-size: ;
    }
    .header__account .icon {
        display: inline-block;
    }
    .header__account span {
        display: none;
    }
}
@media(max-width: 768px) {
    .header {}
    .header__logo .icon-logo {
        width: 200px;
        height: 45px;
    }
    .header__logo--small .icon-logo {
        width: 173px;
        height: 37px;
    }
    .header__cta {
        margin-top: 0;
    }
    .header__lang {
        margin-top: 0;
    }
}
@media(max-width: 640px) {
    .header__navi, .header .scrollbar-macosx {
        display: none !important;
    }
    .header__top {
        margin-bottom: 10px;
        padding-top: 15px;
    }
    .header__logo .icon-logo {
        width: 173px;
        height: 37px;
    }
    .header__lang {
        display: none;
    }
    .header__hamburger {
        display: block;
    }
    .header__cta--sticky {
        margin-left: auto;
    }
}
/* FOOTER */
.footer {
    -webkit-flex: 0;
        -ms-flex: 0;
            flex: 0 1 0%;
    height: 500px;
    -webkit-box-flex: 0;
}
/* SLICK */
.dots {}
.dots--center .slick-dots {
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin: 0;
    padding: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.dots--center .slick-dots li {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.dots--center .slick-dots li:last-child {
    margin-right: 0;
}
.dots--center .slick-dots li:after {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    content: '';
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.dots--center .slick-dots li.slick-active {}
.dots--center .slick-dots li.slick-active:after {
    background: #410C50;
}
.dots--center .slick-dots li:hover {}
.dots--center .slick-dots li:hover:after {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.dots--center .slick-dots button {
    display: none;
}
/* INDEX PAGE */
.hero {
    position: relative;
}
.hero__slide {
    position: relative;
}
.hero__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero__bg img {
    display: none;
}
.hero__content {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
    margin-right: auto;
    min-height: 100vh;
    max-width: 550px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
}
.hero__title {
    color: #410C50;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 36px;
    line-height: 1.2;
}
.hero__subtitle {
    margin-top: 25px;
    letter-spacing: 2.67px;
    font-size: 24px;
}
.hero__cta {
    margin-top: 60px;
}
/* BANNERS */
.banners {}
.banners__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: -10px;
    margin-left: -10px;
    padding-right: 20px;
    padding-left: 20px;
}
.banners__card {
    position: relative;
    -webkit-flex: 0 1 33%;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    margin: 20px 10px;
    font-size: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-box-flex: 0;
}
.banners__card img {
    max-width: 100%;
}
.banners__card__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 35px 20px 20vh 20px;
    color: white;
}
.banners__card__content--right {
    text-align: right;
}
.banners__card__content--dark {
    color: #410C50;
}
.banners__card__title {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 36px;
    line-height: 1.2;
}
.banners__card__subtitle {
    margin-top: 30px;
    letter-spacing: 2.67px;
    font-size: 24px;
}
.banners__card:hover {
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
}
@media(max-width: 1200px) {
    .banners {}
    .banners__card {}
    .banners__card__content {
        padding: 25px 15px 20vh 15px;
    }
    .banners__card__title {
        letter-spacing: 4px;
        font-size: 30px;
    }
    .banners__card__subtitle {
        letter-spacing: 2px;
        font-size: 20px;
    }
}
/* BESTSELLERS */
.bestsellers {
    padding-top: 55px;
}
.bestsellers__slider {
    margin-top: 25px;
}
.bestsellers__slider .slick-track {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
            align-items: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
}
.bestsellers__card {
    padding: 10px;
    text-align: center;
    -webkit-transition: background .25s ease-in-out;
    transition: background .25s ease-in-out;
}
.bestsellers__card__image {
    margin-top: auto;
}
.bestsellers__card__image img {
    display: inline-block;
    max-width: 100px;
}
.bestsellers__card__description {
    margin-top: 10px;
    letter-spacing: 1.5px;
    font-size: 12px;
}
.bestsellers__card__cta {
    margin: 10px auto;
    opacity: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
}
.bestsellers__card:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FBFBFB));
    background: -webkit-linear-gradient(top, #FFF 0%, #FBFBFB 100%);
    background: linear-gradient(to bottom, #FFF 0%, #FBFBFB 100%);
}
.bestsellers__card:hover .bestsellers__card__cta {
    opacity: 1;
    -webkit-transform: translate3d(0, 0px, 0);
            transform: translate3d(0, 0px, 0);
}
/* SOME INNER PAGES CONTENT */

/*# sourceMappingURL=style.css.map */
